In [2]:
from util.utils import *
# import importlib
# importlib.reload(utils)
# from util.utils import *
import pandas as pd

In [4]:
def espera_dataPipeline():
    df = openDataframe("espera_silver.csv")
    df = removeDuplicatesRows(df)
    
    saveDataframe(df, "espera_silver.csv")
    return df

df = espera_dataPipeline()
df.head()

   esperas           hora  aero                      hora_formated
0        0  1654041600000  SBBR     Tuesday, May 31, 2022 09:00:00
1        0  1654045200000  SBBR     Tuesday, May 31, 2022 10:00:00
2        0  1654048800000  SBBR     Tuesday, May 31, 2022 11:00:00
3        0  1654052400000  SBBR  Wednesday, June 01, 2022 12:00:00
4        0  1654056000000  SBBR  Wednesday, June 01, 2022 01:00:00