In [2]:
import sys
sys.path.append('../')
from util.utils import *

In [3]:
def roundHour(df, hora):
    df[hora] = df[hora]/1000
    df[hora] = df[hora].apply(lambda x: datetime.fromtimestamp(x))
    df[hora] = df[hora].apply(lambda x: x.replace(minute=0, second=0, microsecond=0))
    return df

In [5]:
 def metaf_dataPipeline():
    df = openDataframe("metaf_bronze.csv")
    df = removeDuplicatesRows(df)
    #df = roundHour(df, "hora")
    
    saveDataframe(df, "metaf_silver.csv")
    return df

df = metaf_dataPipeline()
df.head()

,hora,metaf,aero,hora_formatted
0,2023-03-15 09:00:00,METAF SBBR 151200Z 12007KT 9999 BKN018 ...,SBBR,"Wednesday, March 15, 2023 09:00:00"
1,2023-03-15 10:00:00,METAF SBBR 151300Z 12007KT 9999 BKN024 ...,SBBR,"Wednesday, March 15, 2023 10:00:00"
2,2023-03-15 11:00:00,METAF SBBR 151400Z 11006KT 9999 BKN031 ...,SBBR,"Wednesday, March 15, 2023 11:00:00"
3,2023-03-15 12:00:00,METAF SBBR 151500Z 10006KT 9999 FEW033 ...,SBBR,"Wednesday, March 15, 2023 12:00:00"
4,2023-03-15 13:00:00,METAF SBBR 151600Z 10006KT CAVOK 27/15 Q1014=\n,SBBR,"Wednesday, March 15, 2023 13:00:00"