### imports

In [1]:
import pandas as pd
import numpy as np
import requests
import os
from datetime import datetime, timedelta
from tqdm import tqdm
import json

In [3]:
def removeDuplicatesRows(df):
    # Remove as linhas duplicadas com base em todas as colunas
    df_no_duplicates = df.drop_duplicates()
    return df_no_duplicates

def openDataframe(filePath):
    # Abre um arquivo CSV e carrega seu conteúdo em um DataFrame
    df = pd.read_csv(filePath, sep=',')
    return df

### /bimtra

Fazer a requisição necessaria para baixar os dados e salvar em "raw_bimtra"

In [6]:

def bimtra_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/bimtra'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2020-01'), np.datetime64('2023-04'), np.timedelta64(1,'M'))
pathfile = './raw_data/bimtra_raw.txt'
if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux])+"-01"
    fdate = str(dateArray[aux+1])+"-01"
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = bimtra_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  3%|▎         | 1/38 [00:00<00:07,  5.01it/s]

idate: 2020-01-01 , fdate: 2020-02-01

  5%|▌         | 2/38 [00:00<00:06,  5.74it/s]

idate: 2020-02-01 , fdate: 2020-03-01

idate: 2020-03-01 , fdate: 2020-04-01

 11%|█         | 4/38 [00:00<00:06,  5.64it/s]

idate: 2020-04-01 , fdate: 2020-05-01

 13%|█▎        | 5/38 [00:00<00:05,  5.70it/s]

idate: 2020-05-01 , fdate: 2020-06-01

idate: 2020-06-01 , fdate: 2020-07-01

 18%|█▊        | 7/38 [00:01<00:05,  5.83it/s]

idate: 2020-07-01 , fdate: 2020-08-01

idate: 2020-08-01 , fdate: 2020-09-01

 24%|██▎       | 9/38 [00:01<00:04,  6.51it/s]

idate: 2020-09-01 , fdate: 2020-10-01

idate: 2020-10-01 , fdate: 2020-11-01

 29%|██▉       | 11/38 [00:01<00:04,  6.59it/s]

idate: 2020-11-01 , fdate: 2020-12-01

idate: 2020-12-01 , fdate: 2021-01-01

 34%|███▍      | 13/38 [00:02<00:03,  6.50it/s]

idate: 2021-01-01 , fdate: 2021-02-01

idate: 2021-02-01 , fdate: 2021-03-01

 39%|███▉      | 15/38 [00:02<00:03,  6.17it/s]

idate: 2021-03-01 , fdate: 2021-04-01

idate: 2021-04-01 , fdate: 2021-05-01

 45%|████▍     | 17/38 [00:02<00:03,  6.34it/s]

idate: 2021-05-01 , fdate: 2021-06-01

idate: 2021-06-01 , fdate: 2021-07-01

 50%|█████     | 19/38 [00:03<00:03,  6.19it/s]

idate: 2021-07-01 , fdate: 2021-08-01

idate: 2021-08-01 , fdate: 2021-09-01

 55%|█████▌    | 21/38 [00:03<00:02,  6.27it/s]

idate: 2021-09-01 , fdate: 2021-10-01

idate: 2021-10-01 , fdate: 2021-11-01

 61%|██████    | 23/38 [00:03<00:02,  6.31it/s]

idate: 2021-11-01 , fdate: 2021-12-01

idate: 2021-12-01 , fdate: 2022-01-01

 66%|██████▌   | 25/38 [00:04<00:02,  6.25it/s]

idate: 2022-01-01 , fdate: 2022-02-01

idate: 2022-02-01 , fdate: 2022-03-01

 71%|███████   | 27/38 [00:04<00:01,  6.28it/s]

idate: 2022-03-01 , fdate: 2022-04-01

idate: 2022-04-01 , fdate: 2022-05-01

 74%|███████▎  | 28/38 [00:04<00:01,  6.21it/s]

idate: 2022-05-01 , fdate: 2022-06-01

 76%|███████▋  | 29/38 [00:04<00:01,  5.35it/s]

Saved data

idate: 2022-06-01 , fdate: 2022-07-01

 79%|███████▉  | 30/38 [00:05<00:03,  2.12it/s]

Saved data

idate: 2022-07-01 , fdate: 2022-08-01

 82%|████████▏ | 31/38 [00:07<00:05,  1.36it/s]

Saved data

idate: 2022-08-01 , fdate: 2022-09-01

 84%|████████▍ | 32/38 [00:08<00:05,  1.04it/s]

Saved data

idate: 2022-09-01 , fdate: 2022-10-01

 87%|████████▋ | 33/38 [00:09<00:05,  1.05s/it]

Saved data

idate: 2022-10-01 , fdate: 2022-11-01

 89%|████████▉ | 34/38 [00:11<00:04,  1.20s/it]

Saved data

idate: 2022-11-01 , fdate: 2022-12-01

 92%|█████████▏| 35/38 [00:12<00:03,  1.23s/it]

Saved data

idate: 2022-12-01 , fdate: 2023-01-01

 95%|█████████▍| 36/38 [00:14<00:02,  1.27s/it]

Saved data

idate: 2023-01-01 , fdate: 2023-02-01

 97%|█████████▋| 37/38 [00:15<00:01,  1.29s/it]

Saved data

idate: 2023-02-01 , fdate: 2023-03-01

100%|██████████| 38/38 [00:16<00:00,  2.27it/s]

Saved data

Coloca os dados em um csv, e converte a coluna de data de decolagem e pouso de segundos para data.

In [7]:


with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['dt_dep_formatted'] = df['dt_dep'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))
df['dt_arr_formatted'] = df['dt_arr'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))

df.to_csv("./processed_data/bimtra_bronze.csv",index=False)

In [4]:
def bimtra_dataPipeline():
    df = openDataframe("processed_data/bimtra_silver.csv")
    df = removeDuplicatesRows(df)
    
    #df.to_csv("./processed_data/bimtra_silver.csv",index=False)
    return df

df = bimtra_dataPipeline()
df.head()

,flightid,origem,destino,dt_dep,dt_arr,dt_dep_formatted,dt_arr_formatted
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000,"Tuesday, May 31, 2022 09:44:57","Tuesday, May 31, 2022 10:26:00"
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000,"Tuesday, May 31, 2022 09:57:01","Tuesday, May 31, 2022 10:32:53"
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000,"Tuesday, May 31, 2022 09:26:52","Tuesday, May 31, 2022 10:43:45"
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000,"Tuesday, May 31, 2022 09:58:40","Tuesday, May 31, 2022 10:41:41"
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000,"Tuesday, May 31, 2022 10:00:38","Tuesday, May 31, 2022 11:33:05"

### /espera

Fazer a requisição necessaria para baixar os dados e salvar em "raw_espera"

In [8]:

def espera_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/esperas'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2020-01'), np.datetime64('2023-04'), np.timedelta64(1,'M'))
pathfile = './raw_data/espera_raw.txt'

if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux])+"-01"
    fdate = str(dateArray[aux+1])+"-01"
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = espera_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  3%|▎         | 1/38 [00:00<00:03,  9.41it/s]

idate: 2020-01-01 , fdate: 2020-02-01

idate: 2020-02-01 , fdate: 2020-03-01

  5%|▌         | 2/38 [00:00<00:03,  9.49it/s]

idate: 2020-03-01 , fdate: 2020-04-01

idate: 2020-04-01 , fdate: 2020-05-01

 13%|█▎        | 5/38 [00:00<00:03,  8.57it/s]

idate: 2020-05-01 , fdate: 2020-06-01

idate: 2020-06-01 , fdate: 2020-07-01

 18%|█▊        | 7/38 [00:00<00:03,  8.12it/s]

idate: 2020-07-01 , fdate: 2020-08-01

idate: 2020-08-01 , fdate: 2020-09-01

 24%|██▎       | 9/38 [00:01<00:03,  7.43it/s]

idate: 2020-09-01 , fdate: 2020-10-01

idate: 2020-10-01 , fdate: 2020-11-01

 29%|██▉       | 11/38 [00:01<00:03,  7.52it/s]

idate: 2020-11-01 , fdate: 2020-12-01

idate: 2020-12-01 , fdate: 2021-01-01

 34%|███▍      | 13/38 [00:01<00:03,  7.51it/s]

idate: 2021-01-01 , fdate: 2021-02-01

idate: 2021-02-01 , fdate: 2021-03-01

 39%|███▉      | 15/38 [00:01<00:03,  7.63it/s]

idate: 2021-03-01 , fdate: 2021-04-01

idate: 2021-04-01 , fdate: 2021-05-01

 45%|████▍     | 17/38 [00:02<00:02,  7.62it/s]

idate: 2021-05-01 , fdate: 2021-06-01

idate: 2021-06-01 , fdate: 2021-07-01

 50%|█████     | 19/38 [00:02<00:02,  7.66it/s]

idate: 2021-07-01 , fdate: 2021-08-01

idate: 2021-08-01 , fdate: 2021-09-01

 55%|█████▌    | 21/38 [00:02<00:02,  7.57it/s]

idate: 2021-09-01 , fdate: 2021-10-01

idate: 2021-10-01 , fdate: 2021-11-01

 61%|██████    | 23/38 [00:02<00:01,  7.52it/s]

idate: 2021-11-01 , fdate: 2021-12-01

idate: 2021-12-01 , fdate: 2022-01-01

 66%|██████▌   | 25/38 [00:03<00:01,  7.36it/s]

idate: 2022-01-01 , fdate: 2022-02-01

idate: 2022-02-01 , fdate: 2022-03-01

 71%|███████   | 27/38 [00:03<00:01,  7.44it/s]

idate: 2022-03-01 , fdate: 2022-04-01

idate: 2022-04-01 , fdate: 2022-05-01

 76%|███████▋  | 29/38 [00:03<00:01,  7.14it/s]

idate: 2022-05-01 , fdate: 2022-06-01
Saved data

idate: 2022-06-01 , fdate: 2022-07-01

 79%|███████▉  | 30/38 [00:04<00:01,  4.16it/s]

Saved data

idate: 2022-07-01 , fdate: 2022-08-01

 82%|████████▏ | 31/38 [00:04<00:01,  3.57it/s]

Saved data

idate: 2022-08-01 , fdate: 2022-09-01

 84%|████████▍ | 32/38 [00:05<00:02,  2.25it/s]

Saved data

idate: 2022-09-01 , fdate: 2022-10-01

 87%|████████▋ | 33/38 [00:05<00:02,  2.16it/s]

Saved data

idate: 2022-10-01 , fdate: 2022-11-01

 89%|████████▉ | 34/38 [00:06<00:01,  2.25it/s]

Saved data

idate: 2022-11-01 , fdate: 2022-12-01

 92%|█████████▏| 35/38 [00:06<00:01,  2.32it/s]

Saved data

idate: 2022-12-01 , fdate: 2023-01-01

 95%|█████████▍| 36/38 [00:07<00:00,  2.09it/s]

Saved data

idate: 2023-01-01 , fdate: 2023-02-01

 97%|█████████▋| 37/38 [00:08<00:00,  1.87it/s]

Saved data

idate: 2023-02-01 , fdate: 2023-03-01

100%|██████████| 38/38 [00:08<00:00,  4.53it/s]

Saved data

In [9]:
with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['hora_formated'] = df['hora'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))

df.to_csv("./processed_data/espera_bronze.csv",index=False)

df.head()

   esperas           hora  aero                      hora_formated
0        0  1654041600000  SBBR     Tuesday, May 31, 2022 09:00:00
1        0  1654045200000  SBBR     Tuesday, May 31, 2022 10:00:00
2        0  1654048800000  SBBR     Tuesday, May 31, 2022 11:00:00
3        0  1654052400000  SBBR  Wednesday, June 01, 2022 12:00:00
4        0  1654056000000  SBBR  Wednesday, June 01, 2022 01:00:00

In [5]:
def espera_dataPipeline():
    df = openDataframe("processed_data/espera_silver.csv")
    df = removeDuplicatesRows(df)
    
    #df.to_csv("./processed_data/espera_silver.csv",index=False)
    return df

df = espera_dataPipeline()
df.head()

   esperas           hora  aero                      hora_formated
0        0  1654041600000  SBBR     Tuesday, May 31, 2022 09:00:00
1        0  1654045200000  SBBR     Tuesday, May 31, 2022 10:00:00
2        0  1654048800000  SBBR     Tuesday, May 31, 2022 11:00:00
3        0  1654052400000  SBBR  Wednesday, June 01, 2022 12:00:00
4        0  1654056000000  SBBR  Wednesday, June 01, 2022 01:00:00

### /MetaF

Fazer a requisição necessaria para baixar os dados e salvar em "raw_metaf"

In [10]:

def metaf_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/metaf'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2020-01'), np.datetime64('2023-04'), np.timedelta64(1,'M'))
pathfile = './raw_data/metaf_raw.txt'

if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux])+"-01"
    fdate = str(dateArray[aux+1])+"-01"
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = metaf_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  3%|▎         | 1/38 [00:00<00:05,  7.15it/s]

idate: 2020-01-01 , fdate: 2020-02-01

idate: 2020-02-01 , fdate: 2020-03-01

  8%|▊         | 3/38 [00:00<00:04,  7.43it/s]

idate: 2020-03-01 , fdate: 2020-04-01

idate: 2020-04-01 , fdate: 2020-05-01

 13%|█▎        | 5/38 [00:00<00:04,  7.55it/s]

idate: 2020-05-01 , fdate: 2020-06-01

idate: 2020-06-01 , fdate: 2020-07-01

 18%|█▊        | 7/38 [00:00<00:04,  7.68it/s]

idate: 2020-07-01 , fdate: 2020-08-01

idate: 2020-08-01 , fdate: 2020-09-01

 24%|██▎       | 9/38 [00:01<00:03,  7.72it/s]

idate: 2020-09-01 , fdate: 2020-10-01

idate: 2020-10-01 , fdate: 2020-11-01

 29%|██▉       | 11/38 [00:01<00:03,  7.68it/s]

idate: 2020-11-01 , fdate: 2020-12-01

idate: 2020-12-01 , fdate: 2021-01-01

 34%|███▍      | 13/38 [00:01<00:03,  7.31it/s]

idate: 2021-01-01 , fdate: 2021-02-01

idate: 2021-02-01 , fdate: 2021-03-01

 39%|███▉      | 15/38 [00:01<00:03,  7.34it/s]

idate: 2021-03-01 , fdate: 2021-04-01

idate: 2021-04-01 , fdate: 2021-05-01

 45%|████▍     | 17/38 [00:02<00:02,  7.53it/s]

idate: 2021-05-01 , fdate: 2021-06-01

idate: 2021-06-01 , fdate: 2021-07-01

 50%|█████     | 19/38 [00:02<00:02,  7.64it/s]

idate: 2021-07-01 , fdate: 2021-08-01

idate: 2021-08-01 , fdate: 2021-09-01

 55%|█████▌    | 21/38 [00:02<00:02,  7.73it/s]

idate: 2021-09-01 , fdate: 2021-10-01

idate: 2021-10-01 , fdate: 2021-11-01

 61%|██████    | 23/38 [00:03<00:01,  7.79it/s]

idate: 2021-11-01 , fdate: 2021-12-01

idate: 2021-12-01 , fdate: 2022-01-01

 66%|██████▌   | 25/38 [00:03<00:01,  7.83it/s]

idate: 2022-01-01 , fdate: 2022-02-01

idate: 2022-02-01 , fdate: 2022-03-01

 71%|███████   | 27/38 [00:03<00:01,  7.91it/s]

idate: 2022-03-01 , fdate: 2022-04-01

idate: 2022-04-01 , fdate: 2022-05-01

 76%|███████▋  | 29/38 [00:03<00:01,  7.77it/s]

idate: 2022-05-01 , fdate: 2022-06-01
Saved data

idate: 2022-06-01 , fdate: 2022-07-01

 79%|███████▉  | 30/38 [00:04<00:01,  6.03it/s]

Saved data

idate: 2022-07-01 , fdate: 2022-08-01

 82%|████████▏ | 31/38 [00:04<00:01,  5.13it/s]

Saved data

idate: 2022-08-01 , fdate: 2022-09-01

 84%|████████▍ | 32/38 [00:04<00:01,  3.95it/s]

Saved data

idate: 2022-09-01 , fdate: 2022-10-01

 87%|████████▋ | 33/38 [00:05<00:01,  3.69it/s]

Saved data

idate: 2022-10-01 , fdate: 2022-11-01

 89%|████████▉ | 34/38 [00:05<00:01,  3.75it/s]

Saved data

idate: 2022-11-01 , fdate: 2022-12-01

 92%|█████████▏| 35/38 [00:05<00:00,  3.79it/s]

Saved data

idate: 2022-12-01 , fdate: 2023-01-01

 95%|█████████▍| 36/38 [00:05<00:00,  3.73it/s]

Saved data

idate: 2023-01-01 , fdate: 2023-02-01

 97%|█████████▋| 37/38 [00:06<00:00,  3.70it/s]

Saved data

idate: 2023-02-01 , fdate: 2023-03-01

100%|██████████| 38/38 [00:06<00:00,  6.05it/s]

Saved data

In [11]:
with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['hora_formated'] = df['hora'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))


df.to_csv("./processed_data/metar_bronze.csv",index=False)

df.head()

,hora,metaf,aero,hora_formated
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,"Tuesday, May 31, 2022 09:00:00"
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,"Tuesday, May 31, 2022 10:00:00"
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,"Tuesday, May 31, 2022 11:00:00"
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,"Wednesday, June 01, 2022 12:00:00"
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,"Wednesday, June 01, 2022 01:00:00"

In [6]:
def metaf_dataPipeline():
    df = openDataframe("processed_data/metaf_silver.csv")
    df = removeDuplicatesRows(df)
    
    #df.to_csv("./processed_data/metaf.csv",index=False)
    return df

df = metaf_dataPipeline()
df.head()

,hora,metar,aero,hora_formated
0,1654041600000,METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018=,SBBR,"Tuesday, May 31, 2022 09:00:00"
1,1654045200000,METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019=,SBBR,"Tuesday, May 31, 2022 10:00:00"
2,1654048800000,METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019=,SBBR,"Tuesday, May 31, 2022 11:00:00"
3,1654052400000,METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019=,SBBR,"Wednesday, June 01, 2022 12:00:00"
4,1654056000000,METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018=,SBBR,"Wednesday, June 01, 2022 01:00:00"

### /MetaR

Fazer a requisição necessaria para baixar os dados e salvar em "raw_metar"

In [12]:

def metar_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/metar'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2020-01'), np.datetime64('2023-04'), np.timedelta64(1,'M'))
pathfile = './raw_data/metar_raw.txt'

if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux])+"-01"
    fdate = str(dateArray[aux+1])+"-01"
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = metar_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  3%|▎         | 1/38 [00:00<00:04,  8.87it/s]

idate: 2020-01-01 , fdate: 2020-02-01

idate: 2020-02-01 , fdate: 2020-03-01

  8%|▊         | 3/38 [00:00<00:03,  9.23it/s]

idate: 2020-03-01 , fdate: 2020-04-01

idate: 2020-04-01 , fdate: 2020-05-01

 13%|█▎        | 5/38 [00:00<00:04,  7.96it/s]

idate: 2020-05-01 , fdate: 2020-06-01

idate: 2020-06-01 , fdate: 2020-07-01

 18%|█▊        | 7/38 [00:00<00:04,  7.53it/s]

idate: 2020-07-01 , fdate: 2020-08-01

idate: 2020-08-01 , fdate: 2020-09-01

 24%|██▎       | 9/38 [00:01<00:03,  7.37it/s]

idate: 2020-09-01 , fdate: 2020-10-01

idate: 2020-10-01 , fdate: 2020-11-01

 29%|██▉       | 11/38 [00:01<00:03,  7.26it/s]

idate: 2020-11-01 , fdate: 2020-12-01

idate: 2020-12-01 , fdate: 2021-01-01

 34%|███▍      | 13/38 [00:01<00:03,  7.31it/s]

idate: 2021-01-01 , fdate: 2021-02-01

idate: 2021-02-01 , fdate: 2021-03-01

 39%|███▉      | 15/38 [00:01<00:03,  7.25it/s]

idate: 2021-03-01 , fdate: 2021-04-01

idate: 2021-04-01 , fdate: 2021-05-01

 45%|████▍     | 17/38 [00:02<00:02,  7.15it/s]

idate: 2021-05-01 , fdate: 2021-06-01

idate: 2021-06-01 , fdate: 2021-07-01

 50%|█████     | 19/38 [00:02<00:02,  7.21it/s]

idate: 2021-07-01 , fdate: 2021-08-01

idate: 2021-08-01 , fdate: 2021-09-01

 55%|█████▌    | 21/38 [00:02<00:02,  7.35it/s]

idate: 2021-09-01 , fdate: 2021-10-01

idate: 2021-10-01 , fdate: 2021-11-01

 61%|██████    | 23/38 [00:03<00:02,  7.39it/s]

idate: 2021-11-01 , fdate: 2021-12-01

idate: 2021-12-01 , fdate: 2022-01-01

 66%|██████▌   | 25/38 [00:03<00:01,  7.27it/s]

idate: 2022-01-01 , fdate: 2022-02-01

idate: 2022-02-01 , fdate: 2022-03-01

 71%|███████   | 27/38 [00:03<00:01,  7.13it/s]

idate: 2022-03-01 , fdate: 2022-04-01

idate: 2022-04-01 , fdate: 2022-05-01

 76%|███████▋  | 29/38 [00:03<00:01,  6.67it/s]

idate: 2022-05-01 , fdate: 2022-06-01
Saved data

idate: 2022-06-01 , fdate: 2022-07-01

 79%|███████▉  | 30/38 [00:04<00:02,  3.76it/s]

Saved data

idate: 2022-07-01 , fdate: 2022-08-01

 82%|████████▏ | 31/38 [00:04<00:02,  3.10it/s]

Saved data

idate: 2022-08-01 , fdate: 2022-09-01

 84%|████████▍ | 32/38 [00:05<00:02,  2.68it/s]

Saved data

idate: 2022-09-01 , fdate: 2022-10-01

 87%|████████▋ | 33/38 [00:05<00:02,  2.47it/s]

Saved data

idate: 2022-10-01 , fdate: 2022-11-01

 89%|████████▉ | 34/38 [00:06<00:01,  2.15it/s]

Saved data

idate: 2022-11-01 , fdate: 2022-12-01

 92%|█████████▏| 35/38 [00:07<00:01,  2.10it/s]

Saved data

idate: 2022-12-01 , fdate: 2023-01-01

 95%|█████████▍| 36/38 [00:07<00:01,  1.93it/s]

Saved data

idate: 2023-01-01 , fdate: 2023-02-01

 97%|█████████▋| 37/38 [00:08<00:00,  1.89it/s]

Saved data

idate: 2023-02-01 , fdate: 2023-03-01

100%|██████████| 38/38 [00:08<00:00,  4.28it/s]

Saved data

In [13]:
with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['hora_formated'] = df['hora'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))


df.to_csv("./processed_data/metaf_bronze.csv",index=False)

df.head()

,hora,metar,aero,hora_formated
0,1654041600000,METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018=,SBBR,"Tuesday, May 31, 2022 09:00:00"
1,1654045200000,METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019=,SBBR,"Tuesday, May 31, 2022 10:00:00"
2,1654048800000,METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019=,SBBR,"Tuesday, May 31, 2022 11:00:00"
3,1654052400000,METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019=,SBBR,"Wednesday, June 01, 2022 12:00:00"
4,1654056000000,METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018=,SBBR,"Wednesday, June 01, 2022 01:00:00"

In [7]:
def metar_dataPipeline():
    df = openDataframe("processed_data/metar_silver.csv")
    df = removeDuplicatesRows(df)
    
    #df.to_csv("./processed_data/metar.csv",index=False)
    return df

df = metar_dataPipeline()
df.head()

,hora,metaf,aero,hora_formated
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,"Tuesday, May 31, 2022 09:00:00"
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,"Tuesday, May 31, 2022 10:00:00"
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,"Tuesday, May 31, 2022 11:00:00"
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,"Wednesday, June 01, 2022 12:00:00"
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,"Wednesday, June 01, 2022 01:00:00"

### /Tc-Prev


Fazer a requisição necessaria para baixar os dados e salvar em "raw_tc-prev"

In [14]:

def metaf_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/tc-prev'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2020-01'), np.datetime64('2023-04'), np.timedelta64(1,'M'))
pathfile = './raw_data/tc-prev_raw.txt'

if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux])+"-01"
    fdate = str(dateArray[aux+1])+"-01"
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = metaf_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  3%|▎         | 1/38 [00:00<00:04,  7.68it/s]

idate: 2020-01-01 , fdate: 2020-02-01

idate: 2020-02-01 , fdate: 2020-03-01

  8%|▊         | 3/38 [00:00<00:04,  7.73it/s]

idate: 2020-03-01 , fdate: 2020-04-01

idate: 2020-04-01 , fdate: 2020-05-01

 13%|█▎        | 5/38 [00:00<00:04,  7.79it/s]

idate: 2020-05-01 , fdate: 2020-06-01

idate: 2020-06-01 , fdate: 2020-07-01

 18%|█▊        | 7/38 [00:00<00:03,  7.83it/s]

idate: 2020-07-01 , fdate: 2020-08-01

idate: 2020-08-01 , fdate: 2020-09-01

 24%|██▎       | 9/38 [00:01<00:03,  7.88it/s]

idate: 2020-09-01 , fdate: 2020-10-01

idate: 2020-10-01 , fdate: 2020-11-01

 29%|██▉       | 11/38 [00:01<00:03,  7.83it/s]

idate: 2020-11-01 , fdate: 2020-12-01

idate: 2020-12-01 , fdate: 2021-01-01

 34%|███▍      | 13/38 [00:01<00:03,  7.79it/s]

idate: 2021-01-01 , fdate: 2021-02-01

idate: 2021-02-01 , fdate: 2021-03-01

 39%|███▉      | 15/38 [00:01<00:03,  7.63it/s]

idate: 2021-03-01 , fdate: 2021-04-01

idate: 2021-04-01 , fdate: 2021-05-01

 45%|████▍     | 17/38 [00:02<00:02,  7.55it/s]

idate: 2021-05-01 , fdate: 2021-06-01

idate: 2021-06-01 , fdate: 2021-07-01

 50%|█████     | 19/38 [00:02<00:02,  7.10it/s]

idate: 2021-07-01 , fdate: 2021-08-01

idate: 2021-08-01 , fdate: 2021-09-01

 55%|█████▌    | 21/38 [00:02<00:02,  7.20it/s]

idate: 2021-09-01 , fdate: 2021-10-01

idate: 2021-10-01 , fdate: 2021-11-01

 61%|██████    | 23/38 [00:03<00:01,  7.53it/s]

idate: 2021-11-01 , fdate: 2021-12-01

idate: 2021-12-01 , fdate: 2022-01-01

 66%|██████▌   | 25/38 [00:03<00:01,  7.65it/s]

idate: 2022-01-01 , fdate: 2022-02-01

idate: 2022-02-01 , fdate: 2022-03-01

 71%|███████   | 27/38 [00:03<00:01,  7.64it/s]

idate: 2022-03-01 , fdate: 2022-04-01

idate: 2022-04-01 , fdate: 2022-05-01

 76%|███████▋  | 29/38 [00:03<00:01,  7.13it/s]

idate: 2022-05-01 , fdate: 2022-06-01
Saved data

idate: 2022-06-01 , fdate: 2022-07-01

 79%|███████▉  | 30/38 [00:04<00:01,  4.40it/s]

Saved data

idate: 2022-07-01 , fdate: 2022-08-01

 82%|████████▏ | 31/38 [00:04<00:01,  3.58it/s]

Saved data

idate: 2022-08-01 , fdate: 2022-09-01

 84%|████████▍ | 32/38 [00:05<00:01,  3.25it/s]

Saved data

idate: 2022-09-01 , fdate: 2022-10-01

 87%|████████▋ | 33/38 [00:05<00:01,  2.96it/s]

Saved data

idate: 2022-10-01 , fdate: 2022-11-01

 89%|████████▉ | 34/38 [00:05<00:01,  2.74it/s]

Saved data

idate: 2022-11-01 , fdate: 2022-12-01

 92%|█████████▏| 35/38 [00:06<00:01,  2.42it/s]

Saved data

idate: 2022-12-01 , fdate: 2023-01-01

 95%|█████████▍| 36/38 [00:06<00:00,  2.50it/s]

Saved data

idate: 2023-01-01 , fdate: 2023-02-01

 97%|█████████▋| 37/38 [00:07<00:00,  2.55it/s]

Saved data

idate: 2023-02-01 , fdate: 2023-03-01

100%|██████████| 38/38 [00:07<00:00,  5.06it/s]

Saved data

In [15]:
with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['hora_formated'] = df['hora'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))

df.to_csv("./processed_data/tc-prev_bronze.csv",index=False)

df.head()

            hora  troca aero                      hora_formated
0  1654041600000      0   BR     Tuesday, May 31, 2022 09:00:00
1  1654045200000      0   BR     Tuesday, May 31, 2022 10:00:00
2  1654048800000      0   BR     Tuesday, May 31, 2022 11:00:00
3  1654052400000      0   BR  Wednesday, June 01, 2022 12:00:00
4  1654056000000      0   BR  Wednesday, June 01, 2022 01:00:00

In [9]:
def tc_prev_dataPipeline():
    df = openDataframe("processed_data/tc-prev_silver.csv")
    df = removeDuplicatesRows(df)
    
    #df.to_csv("./processed_data/tc-prev.csv",index=False)
    return df

df = tc_prev_dataPipeline()
df.head()

            hora  troca aero                      hora_formated
0  1654041600000      0   BR     Tuesday, May 31, 2022 09:00:00
1  1654045200000      0   BR     Tuesday, May 31, 2022 10:00:00
2  1654048800000      0   BR     Tuesday, May 31, 2022 11:00:00
3  1654052400000      0   BR  Wednesday, June 01, 2022 12:00:00
4  1654056000000      0   BR  Wednesday, June 01, 2022 01:00:00

### /Tc-real


Fazer a requisição necessaria para baixar os dados e salvar em "raw_tc-real"

In [16]:

def metaf_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/tc-real'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2020-01'), np.datetime64('2023-04'), np.timedelta64(1,'M'))
pathfile = './raw_data/tc-real_raw.txt'

if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux])+"-01"
    fdate = str(dateArray[aux+1])+"-01"
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = metaf_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  3%|▎         | 1/38 [00:00<00:04,  8.08it/s]

idate: 2020-01-01 , fdate: 2020-02-01

idate: 2020-02-01 , fdate: 2020-03-01

  8%|▊         | 3/38 [00:00<00:04,  8.00it/s]

idate: 2020-03-01 , fdate: 2020-04-01

idate: 2020-04-01 , fdate: 2020-05-01

 13%|█▎        | 5/38 [00:00<00:04,  8.11it/s]

idate: 2020-05-01 , fdate: 2020-06-01

idate: 2020-06-01 , fdate: 2020-07-01

 18%|█▊        | 7/38 [00:00<00:03,  8.13it/s]

idate: 2020-07-01 , fdate: 2020-08-01

idate: 2020-08-01 , fdate: 2020-09-01

 24%|██▎       | 9/38 [00:01<00:03,  7.76it/s]

idate: 2020-09-01 , fdate: 2020-10-01

idate: 2020-10-01 , fdate: 2020-11-01

 29%|██▉       | 11/38 [00:01<00:03,  7.74it/s]

idate: 2020-11-01 , fdate: 2020-12-01

idate: 2020-12-01 , fdate: 2021-01-01

 34%|███▍      | 13/38 [00:01<00:03,  7.80it/s]

idate: 2021-01-01 , fdate: 2021-02-01

idate: 2021-02-01 , fdate: 2021-03-01

 39%|███▉      | 15/38 [00:01<00:02,  7.97it/s]

idate: 2021-03-01 , fdate: 2021-04-01

idate: 2021-04-01 , fdate: 2021-05-01

 45%|████▍     | 17/38 [00:02<00:02,  7.91it/s]

idate: 2021-05-01 , fdate: 2021-06-01

idate: 2021-06-01 , fdate: 2021-07-01

 50%|█████     | 19/38 [00:02<00:02,  8.07it/s]

idate: 2021-07-01 , fdate: 2021-08-01

idate: 2021-08-01 , fdate: 2021-09-01

 55%|█████▌    | 21/38 [00:02<00:02,  7.38it/s]

idate: 2021-09-01 , fdate: 2021-10-01

idate: 2021-10-01 , fdate: 2021-11-01

 61%|██████    | 23/38 [00:02<00:01,  7.56it/s]

idate: 2021-11-01 , fdate: 2021-12-01

idate: 2021-12-01 , fdate: 2022-01-01

 66%|██████▌   | 25/38 [00:03<00:01,  7.69it/s]

idate: 2022-01-01 , fdate: 2022-02-01

idate: 2022-02-01 , fdate: 2022-03-01

 71%|███████   | 27/38 [00:03<00:01,  7.74it/s]

idate: 2022-03-01 , fdate: 2022-04-01

idate: 2022-04-01 , fdate: 2022-05-01

 76%|███████▋  | 29/38 [00:03<00:01,  7.99it/s]

idate: 2022-05-01 , fdate: 2022-06-01
Saved data

idate: 2022-06-01 , fdate: 2022-07-01

 79%|███████▉  | 30/38 [00:03<00:01,  5.77it/s]

Saved data

idate: 2022-07-01 , fdate: 2022-08-01

 82%|████████▏ | 31/38 [00:04<00:01,  5.05it/s]

Saved data

idate: 2022-08-01 , fdate: 2022-09-01

 84%|████████▍ | 32/38 [00:04<00:01,  4.54it/s]

Saved data

idate: 2022-09-01 , fdate: 2022-10-01

 87%|████████▋ | 33/38 [00:04<00:01,  4.29it/s]

Saved data

idate: 2022-10-01 , fdate: 2022-11-01

 89%|████████▉ | 34/38 [00:05<00:00,  4.13it/s]

Saved data

idate: 2022-11-01 , fdate: 2022-12-01

 92%|█████████▏| 35/38 [00:05<00:00,  4.06it/s]

Saved data

idate: 2022-12-01 , fdate: 2023-01-01

 95%|█████████▍| 36/38 [00:05<00:00,  3.88it/s]

Saved data

idate: 2023-01-01 , fdate: 2023-02-01

 97%|█████████▋| 37/38 [00:05<00:00,  3.74it/s]

Saved data

idate: 2023-02-01 , fdate: 2023-03-01

100%|██████████| 38/38 [00:06<00:00,  6.18it/s]

Saved data

In [17]:
with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['hora_formated'] = df['hora'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))

df.to_csv("./processed_data/tc-real_bronze.csv",index=False)

df.head()

,hora,nova_cabeceira,antiga_cabeceira,aero,hora_formated
0,1654092843000,32,03,FL,"Wednesday, June 01, 2022 11:14:03"
1,1654109470000,18,12,RF,"Wednesday, June 01, 2022 03:51:10"
2,1654110745000,16,13,CF,"Wednesday, June 01, 2022 04:12:25"
3,1654110758000,15,26,GL,"Wednesday, June 01, 2022 04:12:38"
4,1654110777000,15,26,GL,"Wednesday, June 01, 2022 04:12:57"

In [10]:
def tc_real_dataPipeline():
    df = openDataframe("processed_data/tc-real_silver.csv")
    df = removeDuplicatesRows(df)
    
    #df.to_csv("./processed_data/tc-real.csv",index=False)
    return df

df = tc_real_dataPipeline()
df.head()

,hora,nova_cabeceira,antiga_cabeceira,aero,hora_formated
0,1654092843000,32,03,FL,"Wednesday, June 01, 2022 11:14:03"
1,1654109470000,18,12,RF,"Wednesday, June 01, 2022 03:51:10"
2,1654110745000,16,13,CF,"Wednesday, June 01, 2022 04:12:25"
3,1654110758000,15,26,GL,"Wednesday, June 01, 2022 04:12:38"
4,1654110777000,15,26,GL,"Wednesday, June 01, 2022 04:12:57"

### /cat-62


Fazer a requisição necessaria para baixar os dados e salvar em "raw_cat-62"

In [18]:

def cat62_req(idate,fdate):
    url = 'http://montreal.icea.decea.mil.br:5002/api/v1/cat-62'
    params = {
        'token': 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173',
        'idate': idate,
        'fdate': fdate
    }
    headers = {
        'accept': 'application/json'
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data
    else:
        print(f"Falha na requisição. Código de status: {response.status_code}")

dateArray = np.arange(np.datetime64('2023-01-01 00:00:00.000'), np.datetime64('2023-01-01 02:00:00.000'), np.timedelta64(1,'h'))


pathfile = './raw_data/cat62_raw.txt'

if os.path.exists(pathfile) :
    first = False
else:
    first = True

for aux in tqdm(range(len(dateArray)-1)):
    idate = str(dateArray[aux]).replace("T"," ")
    fdate = str(dateArray[aux+1]).replace("T"," ")
    print(f"\nidate: {idate} , fdate: {fdate}")
    data = cat62_req(idate,fdate)
    data = str(data).replace("'",'"')
    if str(data) != "[]": 
        with open(pathfile, 'a') as arquivo:
            if first:
                data = data.replace("None","0.0")
                arquivo.write(str(data)[:-1])
                first = False
                
            else:
                data = data.replace("None","0.0")
                arquivo.write(","+str(data)[1:-1])
            print("Saved data")
with open(pathfile, 'a') as arquivo:
    arquivo.write("]")

  0%|          | 0/1 [00:00<?, ?it/s]

idate: 2023-01-01 00:00:00.000 , fdate: 2023-01-01 01:00:00.000

100%|██████████| 1/1 [00:01<00:00,  1.64s/it]

Saved data

In [19]:
print(pathfile)
with open(pathfile, 'r') as arquivo:
    # Carregue o conteúdo do arquivo em uma lista de dicionários
    data_complete = json.load(arquivo)

df = pd.DataFrame(data_complete)

df['dt_radar_formated'] = df['dt_radar'].apply(lambda x: datetime.fromtimestamp(int(x)/1000).strftime("%A, %B %d, %Y %I:%M:%S"))

df.to_csv("./processed_data/cat62_bronze.csv",index=False)

df.head()

./raw_data/cat62_raw.txt

,flightid,lat,lon,flightlevel,speed,dt_radar,dt_radar_formated
0,a0a06bda4afb87d6f0b597f264e1508f,-0.512903,-0.884901,251.0,416,1672532281000,"Saturday, December 31, 2022 09:18:01"
1,a0a06bda4afb87d6f0b597f264e1508f,-0.437192,-0.845624,390.0,501,1672534324000,"Saturday, December 31, 2022 09:52:04"
2,a0a06bda4afb87d6f0b597f264e1508f,-0.466081,-0.860230,390.0,507,1672533546000,"Saturday, December 31, 2022 09:39:06"
3,a0a06bda4afb87d6f0b597f264e1508f,-0.463969,-0.859149,390.0,508,1672533602000,"Saturday, December 31, 2022 09:40:02"
4,a0a06bda4afb87d6f0b597f264e1508f,-0.493152,-0.874323,387.0,515,1672532820000,"Saturday, December 31, 2022 09:27:00"

In [11]:
def orderByIDandTime(df):
    # Ordena o DataFrame com base nas colunas 'flightid' e 'dt_radar'
    df = df.sort_values(by=['flightid', 'dt_radar'])
    return df

def convertToDegrees(coordinateColumn):
    # Converte valores de radianos para graus
    coordinateColumn = coordinateColumn * 180 / np.pi
    return coordinateColumn

def convertToRadians(coordinateColumn):
    # Converte valores de graus para radianos
    coordinateColumn = coordinateColumn * np.pi / 180
    return coordinateColumn

def calculateDistance(lat1_deg, lon1_deg, lat2_deg, lon2_deg):
    # Calcula a distância entre dois pontos geográficos usando a fórmula de Haversine
    R = 6371e3  # Raio da Terra em metros
    lat1_rad = convertToRadians(lat1_deg)
    lon1_rad = convertToRadians(lon1_deg)
    lat2_rad = convertToRadians(lat2_deg)
    lon2_rad = convertToRadians(lon2_deg)

    delta_lat_rad = lat2_rad - lat1_rad
    delta_lon_rad = lon2_rad - lon1_rad

    a = np.sin(delta_lat_rad/2) ** 2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(delta_lon_rad/2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))

    distance_meters = R * c
    return distance_meters

def calculateBearing(lat1_deg, lon1_deg, lat2_deg, lon2_deg):
    # Calcula o rumo (bearing) entre dois pontos geográficos
    lat1_rad = convertToRadians(lat1_deg)
    lon1_rad = convertToRadians(lon1_deg)
    lat2_rad = convertToRadians(lat2_deg)
    lon2_rad = convertToRadians(lon2_deg)

    delta_lon_rad = lon2_rad - lon1_rad

    y = np.sin(delta_lon_rad) * np.cos(lat2_rad)
    x = np.cos(lat1_rad) * np.sin(lat2_rad) - np.sin(lat1_rad) * np.cos(lat2_rad) * np.cos(delta_lon_rad)

    theta_rad = np.arctan2(y, x)
    bearing_deg = (theta_rad * 180 / np.pi + 360) % 360
    return bearing_deg

def calculateSpeed(distance_meters, time_seconds):
    # Calcula a velocidade em metros por segundo com base na distância e no tempo
    speed_mps = distance_meters / time_seconds
    return speed_mps

def calculateTime(time1, time2):
    # Calcula o tempo em segundos entre duas instâncias de tempo
    time_seconds = (time2 - time1) / np.timedelta64(1, 's')
    return time_seconds

## Calcula a distância entre as linhas consecutivas do DataFrame.
def calculateDistanceBetweenRows(df):
    ## Calcula a distância em metros entre a latitude e longitude da linha atual e a latitude e longitude da linha seguinte (usando .shift(-1) para pegar a linha seguinte).
    df['distance_m'] = calculateDistance(df['lat_deg'], df['lon_deg'], df['lat_deg'].shift(-1), df['lon_deg'].shift(-1))
    return df

def calculateBearingBetweenRows(df):
    ## Calcula o rumo em graus entre a latitude e longitude da linha atual e a latitude e longitude da linha seguinte (usando .shift(-1) para pegar a linha seguinte).
    df['bearing_deg'] = calculateBearing(df['lat_deg'], df['lon_deg'], df['lat_deg'].shift(-1), df['lon_deg'].shift(-1))
    return df

def calculateSpeedBetweenRows(df):
    #df['time_hours'] = df['time_seconds'] * 3600
    ## Calcula a velocidade média em metros por segundo entre a linha atual e a linha seguinte.
    df['speed_mps'] = calculateSpeed(df['distance_m'], df['time_seconds'])
    return df

def calculateTimeBetweenRows(df):
    ## Converte a coluna "dt_radar" em objetos de data/hora, garantindo que ela seja do tipo datetime.
    df['dt_radar'] = pd.to_datetime(df['dt_radar'])
    ## Calcula a diferença em segundos entre a linha atual e a linha seguinte na coluna "dt_radar" (usando .shift(-1) para pegar a linha seguinte).
    df['time_seconds'] = (df['dt_radar'].shift(-1) - df['dt_radar']).dt.total_seconds()
    return df


def convertCoordinatesToDegrees(df):
    ## convert lat_deg and lon_deg from radians to degrees
    df['lat'] = convertToDegrees(df['lat'])
    df['lon'] = convertToDegrees(df['lon'])

    return df

def convertKnotsToMetersPerSecond(df):
    ## converte speed_knots para speed_mps
    df['speed'] = df['speed'] * 0.514444444
    return df

def convertFeetToMeters(df):
    ## converte flightlevel_ft para flightlevel_m
    df['flightlevel'] = df['flightlevel'] * 0.3048
    return df

def renameColumns(df):
    ## rename lat, lon, speed and flightlevel columns to lat_deg, lon_deg, speed_ and flightlevel_ft
    df = df.rename(columns={'lat': 'lat_deg', 
                            'lon': 'lon_deg', 
                            'speed': 'speed_mps', 
                            'flightlevel': 'flightlevel_m'})
    return df


def cat62_dataPipeline():
    df = openDataframe("processed_data/cat62_silver.csv")
    df = removeDuplicatesRows(df)
    df = orderByIDandTime(df)
    df = convertCoordinatesToDegrees(df)
    df = convertKnotsToMetersPerSecond(df)
    df = convertFeetToMeters(df)
    df = renameColumns(df)
    df = calculateDistanceBetweenRows(df)
    df = calculateBearingBetweenRows(df)
    df = calculateTimeBetweenRows(df)
    #df = calculateSpeedBetweenRows(df)
    
    #df.to_csv("./processed_data/cat62_silver.csv",index=False)
    return df

df = cat62_dataPipeline()
df.head()

,flightid,lat_deg,lon_deg,flightlevel_m,speed_mps,dt_radar,dt_radar_formated,distance_m,bearing_deg,time_seconds
427,097eebc964ab2e3833e2d839359e9592,-23.414552,-46.434982,0.0000,85.912222,1970-01-01 00:27:52.534200,"Saturday, December 31, 2022 09:50:00",343.523232,44.750734,0.000004
420,097eebc964ab2e3833e2d839359e9592,-23.412358,-46.432612,0.0000,87.455555,1970-01-01 00:27:52.534204,"Saturday, December 31, 2022 09:50:04",4528.173785,37.105017,0.000056
422,097eebc964ab2e3833e2d839359e9592,-23.379878,-46.405847,15.8496,106.490000,1970-01-01 00:27:52.534260,"Saturday, December 31, 2022 09:51:00",1942.201111,38.457495,0.000004
418,097eebc964ab2e3833e2d839359e9592,-23.366200,-46.394013,16.4592,112.663333,1970-01-01 00:27:52.534264,"Saturday, December 31, 2022 09:51:04",6299.437355,16.152442,0.000056
415,097eebc964ab2e3833e2d839359e9592,-23.311783,-46.376852,23.7744,136.327778,1970-01-01 00:27:52.534320,"Saturday, December 31, 2022 09:52:00",585.016123,319.697236,0.000004

* `distance_m (Distância em metros)`:

A função `calculateDistance(lat1_deg, lon1_deg, lat2_deg, lon2_deg)` calcula a distância em metros entre dois pontos geográficos (latitude e longitude) usando a fórmula da haversine.
Os valores de latitude e longitude (lat e lon) são passados como argumentos para essa função.
A fórmula da haversine considera a curvatura da Terra para calcular a distância real entre dois pontos.

* `bearing_deg (Direção em graus)`:

A função `calculateBearing(lat1_deg, lon1_deg, lat2_deg, lon2_deg)` calcula a direção (rumo) em graus de um ponto 1 para um ponto 2.
Os valores de latitude e longitude (lat e lon) são passados como argumentos para essa função.
A função utiliza fórmulas trigonométricas para calcular o ângulo entre os dois pontos.

* `time_seconds (Tempo em segundos)`:

A `função calculateTime(time1, time2)` calcula a diferença de tempo em segundos entre dois valores de data/hora (time1 e time2).
A coluna dt_radar é convertida em objetos de data/hora usando pd.to_datetime e, em seguida, a diferença de tempo é calculada em segundos usando dt.total_seconds().

* speed_mps (Velocidade em metros por segundo):

A função `calculateSpeed(distance_meters, time_seconds)` calcula a velocidade média em metros por segundo.
A distância em metros (distance_meters) e o tempo em segundos (time_seconds) são passados como argumentos para essa função.
A velocidade é calculada dividindo a distância pelo tempo.