In [21]:
from util.utils import *
import os

In [22]:
## load datasets
def loadDataframes():
    cat62 = openDataframe("cat62_bronze.csv")
    espera = openDataframe("espera_bronze.csv")
    bimtra = openDataframe("bimtra_bronze.csv")
    metaf = openDataframe("metaf_bronze.csv")
    metar = openDataframe("metar_bronze.csv")
    tc_prev = openDataframe("tc-prev_bronze.csv")
    tc_real = openDataframe("tc-real_bronze.csv")
    return cat62, espera, bimtra, metaf, metar, tc_prev, tc_real

cat62, espera, bimtra, metaf, metar, tc_prev, tc_real = loadDataframes()

In [23]:
## column names of each dataframe
def getColumns():
    cat62_cols = cat62.columns
    espera_cols = espera.columns
    bimtra_cols = bimtra.columns
    metaf_cols = metaf.columns
    metar_cols = metar.columns
    tc_prev_cols = tc_prev.columns
    tc_real_cols = tc_real.columns
    return cat62_cols, espera_cols, bimtra_cols, metaf_cols, metar_cols, tc_prev_cols, tc_real_cols

cat62_cols, espera_cols, bimtra_cols, metaf_cols, metar_cols, tc_prev_cols, tc_real_cols = getColumns()
print(cat62_cols)
print(espera_cols)
print(bimtra_cols)
print(metaf_cols)
print(metar_cols)
print(tc_prev_cols)
print(tc_real_cols)

Index(['flightid', 'lat', 'lon', 'flightlevel', 'speed', 'dt_radar',
       'dt_radar_formatted'],
      dtype='object')
Index(['esperas', 'hora', 'aero', 'hora_formatted'], dtype='object')
Index(['flightid', 'origem', 'destino', 'dt_dep', 'dt_arr', 'dt_dep_formatted',
       'dt_arr_formatted'],
      dtype='object')
Index(['hora', 'metaf', 'aero', 'hora_formatted'], dtype='object')
Index(['hora', 'metar', 'aero', 'hora_formatted'], dtype='object')
Index(['hora', 'troca', 'aero', 'hora_formatted'], dtype='object')
Index(['hora', 'nova_cabeceira', 'antiga_cabeceira', 'aero', 'hora_formatted'], dtype='object')

In [24]:
## merge cat62 and bimtra dataframes with flightid
def mergeWithFlightID(cat62, bimtra):
    cat62_bimtra = pd.merge(cat62, bimtra, on="flightid")
    return cat62_bimtra

merged_df = mergeWithFlightID(cat62, bimtra)
merged_df.head()

,flightid,lat,lon,flightlevel,speed,dt_radar,dt_radar_formatted,origem,destino,dt_dep,dt_arr,dt_dep_formatted,dt_arr_formatted
0,ce43268d98c9e81575d0efeb92383aba,-0.360540,-0.768632,260.0,341.0,1677629941000,"Tuesday, February 28, 2023 21:19:01",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56"
1,ce43268d98c9e81575d0efeb92383aba,-0.370018,-0.770168,260.0,333.0,1677630303000,"Tuesday, February 28, 2023 21:25:03",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56"
2,ce43268d98c9e81575d0efeb92383aba,-0.377761,-0.771272,260.0,349.0,1677630601000,"Tuesday, February 28, 2023 21:30:01",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56"
3,ce43268d98c9e81575d0efeb92383aba,-0.393593,-0.769379,92.0,291.0,1677631744000,"Tuesday, February 28, 2023 21:49:04",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56"
4,ce43268d98c9e81575d0efeb92383aba,-0.400201,-0.768154,90.0,255.0,1677632283000,"Tuesday, February 28, 2023 21:58:03",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56"

In [25]:
## crie uma função que pega a coluna data_dep e "arredonda" para a hora atual inteira
## exemplo: se data_dep = 2019-01-01 12:34:56, a função deve retornar 2019-01-01 12:00:00
## a hora em dt_dep esta no seguinte formato: 1677629154000, 1677629154000, 1677629154000, etc
def roundHour(dt_dep):
    dt_dep = dt_dep/1000
    dt_dep = datetime.fromtimestamp(dt_dep)
    dt_dep = dt_dep.replace(minute=0, second=0, microsecond=0)
    return dt_dep


merged_df['hora_ref'] = merged_df['dt_dep'].apply(roundHour)
merged_df.head()

,flightid,lat,lon,flightlevel,speed,dt_radar,dt_radar_formatted,origem,destino,dt_dep,dt_arr,dt_dep_formatted,dt_arr_formatted,hora_ref
0,ce43268d98c9e81575d0efeb92383aba,-0.360540,-0.768632,260.0,341.0,1677629941000,"Tuesday, February 28, 2023 21:19:01",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56",2023-02-28 21:00:00
1,ce43268d98c9e81575d0efeb92383aba,-0.370018,-0.770168,260.0,333.0,1677630303000,"Tuesday, February 28, 2023 21:25:03",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56",2023-02-28 21:00:00
2,ce43268d98c9e81575d0efeb92383aba,-0.377761,-0.771272,260.0,349.0,1677630601000,"Tuesday, February 28, 2023 21:30:01",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56",2023-02-28 21:00:00
3,ce43268d98c9e81575d0efeb92383aba,-0.393593,-0.769379,92.0,291.0,1677631744000,"Tuesday, February 28, 2023 21:49:04",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56",2023-02-28 21:00:00
4,ce43268d98c9e81575d0efeb92383aba,-0.400201,-0.768154,90.0,255.0,1677632283000,"Tuesday, February 28, 2023 21:58:03",SBCF,SBRJ,1677629154000,1677633476000,"Tuesday, February 28, 2023 21:05:54","Tuesday, February 28, 2023 22:17:56",2023-02-28 21:00:00

In [26]:
def groupById(df):
    grouped = df.groupby(['flightid', 'hora_ref'])  # Agrupe por flightid e hora_ref
    return grouped

def createCoordinatesList(group):
    lat_lon_list = [(row['lat'], row['lon']) for _, row in group.iterrows()]
    return lat_lon_list

def formatDataframe(df):
    grouped = groupById(df)
    
    dados_final = {
        'flightid': [],
        'origem': [],
        'destino': [],
        'dt_dep': [],
        'hora_ref': [],
        'snapshot_radar': [],
    }
    
    for (flight_id, hora_ref), group in grouped:  # Altere aqui para iterar corretamente sobre os grupos
        lat_lon_list = createCoordinatesList(group)
        
        origem = group['origem'].iloc[0]
        destino = group['destino'].iloc[0]
        dt_dep = group['dt_dep'].iloc[0]
        
        dados_final['flightid'].append(flight_id)
        dados_final['origem'].append(origem)
        dados_final['destino'].append(destino)
        dados_final['dt_dep'].append(dt_dep)
        dados_final['hora_ref'].append(hora_ref)
        dados_final['snapshot_radar'].append(lat_lon_list)
    
    new_df = pd.DataFrame(dados_final)
    return new_df

formated_df = formatDataframe(merged_df)
formated_df.head()

,flightid,origem,destino,dt_dep,hora_ref,snapshot_radar
0,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116..."
1,0001d7d56ab8aaa1fd7e8fb4ae079f60,SBBR,SBCT,1677700968000,2023-03-01 17:00:00,"[(-0.345388457, -0.8614051214), (-0.3590661267..."
2,0004796cee4930d622b6eabdc22cdb5b,SBPA,SBBR,1677832349000,2023-03-03 05:00:00,"[(-0.4760178852, -0.8794155068), (-0.478144077..."
3,000897ae4e502951775f08651ea4d663,SBSP,SBBR,1680137219000,2023-03-29 21:00:00,"[(-0.4128358742, -0.817906891), (-0.4127446866..."
4,000988161c4bb5bd05e0dfba694085b4,SBPA,SBFL,1679014304000,2023-03-16 21:00:00,"[(-0.5234733354, -0.8926822638), (-0.521382814..."

In [27]:
len(formated_df)

26792

In [28]:
espera.head()

   esperas           hora  aero                       hora_formatted
0        0  1677628800000  SBBR  Tuesday, February 28, 2023 21:00:00
1        0  1677632400000  SBBR  Tuesday, February 28, 2023 22:00:00
2        0  1677636000000  SBBR  Tuesday, February 28, 2023 23:00:00
3        0  1677639600000  SBBR   Wednesday, March 01, 2023 00:00:00
4        0  1677643200000  SBBR   Wednesday, March 01, 2023 01:00:00

In [29]:
formated_df.columns

Index(['flightid', 'origem', 'destino', 'dt_dep', 'hora_ref',
       'snapshot_radar'],
      dtype='object')

In [30]:
## merge espera with hora_ref
def mergeByRefDate(df, espera):
    merged_df = pd.merge(df, espera, on=['hora_ref'])
    ## drop 'hora' column
    merged_df = merged_df.drop(columns=['hora'])
    return merged_df

espera['hora_ref'] = espera['hora'].apply(roundHour)
formated_df = mergeByRefDate(formated_df, espera)
formated_df.head()

,flightid,origem,destino,dt_dep,hora_ref,snapshot_radar,esperas,aero,hora_formatted
0,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBBR,"Saturday, March 18, 2023 08:00:00"
1,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBCF,"Saturday, March 18, 2023 08:00:00"
2,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBCT,"Saturday, March 18, 2023 08:00:00"
3,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBFL,"Saturday, March 18, 2023 08:00:00"
4,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBGL,"Saturday, March 18, 2023 08:00:00"

In [31]:
formated_df.hora_ref.unique()

array(['2023-03-18T08:00:00.000000000', '2023-03-01T17:00:00.000000000',
       '2023-03-03T05:00:00.000000000', '2023-03-29T21:00:00.000000000',
       '2023-03-16T21:00:00.000000000', '2023-03-11T02:00:00.000000000',
       '2023-03-03T11:00:00.000000000', '2023-03-30T06:00:00.000000000',
       '2023-03-02T08:00:00.000000000', '2023-03-26T11:00:00.000000000',
       '2023-03-30T15:00:00.000000000', '2023-03-09T11:00:00.000000000',
       '2023-03-21T12:00:00.000000000', '2023-03-28T10:00:00.000000000',
       '2023-03-27T08:00:00.000000000', '2023-03-30T18:00:00.000000000',
       '2023-03-10T06:00:00.000000000', '2023-03-12T21:00:00.000000000',
       '2023-03-20T21:00:00.000000000', '2023-03-05T22:00:00.000000000',
       '2023-03-20T11:00:00.000000000', '2023-03-22T23:00:00.000000000',
       '2023-03-12T14:00:00.000000000', '2023-03-09T14:00:00.000000000',
       '2023-03-09T17:00:00.000000000', '2023-03-12T17:00:00.000000000',
       '2023-03-08T15:00:00.000000000', '2023-03-01T05:00:00.000000000',
       '2023-03-26T10:00:00.000000000', '2023-03-24T10:00:00.000000000',
       '2023-03-05T20:00:00.000000000', '2023-03-29T13:00:00.000000000',
       '2023-03-23T09:00:00.000000000', '2023-03-26T22:00:00.000000000',
       '2023-03-21T09:00:00.000000000', '2023-03-12T12:00:00.000000000',
       '2023-03-02T23:00:00.000000000', '2023-03-07T06:00:00.000000000',
       '2023-03-05T08:00:00.000000000', '2023-03-18T10:00:00.000000000',
       '2023-04-01T18:00:00.000000000', '2023-03-28T15:00:00.000000000',
       '2023-03-29T17:00:00.000000000', '2023-03-31T19:00:00.000000000',
       '2023-03-20T18:00:00.000000000', '2023-03-18T18:00:00.000000000',
       '2023-03-01T20:00:00.000000000', '2023-03-13T17:00:00.000000000',
       '2023-03-26T14:00:00.000000000', '2023-03-07T07:00:00.000000000',
       '2023-03-19T10:00:00.000000000', '2023-03-23T03:00:00.000000000',
       '2023-03-10T08:00:00.000000000', '2023-03-02T06:00:00.000000000',
       '2023-03-02T21:00:00.000000000', '2023-03-22T12:00:00.000000000',
       '2023-03-27T15:00:00.000000000', '2023-03-12T18:00:00.000000000',
       '2023-03-24T17:00:00.000000000', '2023-03-28T22:00:00.000000000',
       '2023-03-27T09:00:00.000000000', '2023-03-02T14:00:00.000000000',
       '2023-03-01T21:00:00.000000000', '2023-03-19T05:00:00.000000000',
       '2023-03-27T19:00:00.000000000', '2023-03-11T15:00:00.000000000',
       '2023-03-31T17:00:00.000000000', '2023-03-16T17:00:00.000000000',
       '2023-03-20T08:00:00.000000000', '2023-03-08T18:00:00.000000000',
       '2023-03-21T15:00:00.000000000', '2023-03-21T19:00:00.000000000',
       '2023-03-18T19:00:00.000000000', '2023-03-15T14:00:00.000000000',
       '2023-03-07T00:00:00.000000000', '2023-03-20T12:00:00.000000000',
       '2023-03-26T08:00:00.000000000', '2023-03-16T16:00:00.000000000',
       '2023-03-15T18:00:00.000000000', '2023-03-27T03:00:00.000000000',
       '2023-03-02T16:00:00.000000000', '2023-03-03T06:00:00.000000000',
       '2023-04-01T10:00:00.000000000', '2023-03-04T05:00:00.000000000',
       '2023-03-25T06:00:00.000000000', '2023-03-04T17:00:00.000000000',
       '2023-03-30T17:00:00.000000000', '2023-03-10T23:00:00.000000000',
       '2023-03-10T07:00:00.000000000', '2023-03-16T15:00:00.000000000',
       '2023-03-29T18:00:00.000000000', '2023-03-04T22:00:00.000000000',
       '2023-03-07T10:00:00.000000000', '2023-04-01T08:00:00.000000000',
       '2023-03-25T18:00:00.000000000', '2023-03-05T12:00:00.000000000',
       '2023-03-14T06:00:00.000000000', '2023-03-17T16:00:00.000000000',
       '2023-03-29T15:00:00.000000000', '2023-03-25T16:00:00.000000000',
       '2023-03-07T08:00:00.000000000', '2023-03-06T13:00:00.000000000',
       '2023-03-17T09:00:00.000000000', '2023-03-24T19:00:00.000000000',
       '2023-03-16T07:00:00.000000000', '2023-03-07T09:00:00.000000000',
       '2023-03-22T18:00:00.000000000', '2023-03-26T13:00:00.000000000',
       '2023-03-25T22:00:00.000000000', '2023-03-12T08:00:00.000000000',
       '2023-03-11T05:00:00.000000000', '2023-03-06T11:00:00.000000000',
       '2023-03-26T16:00:00.000000000', '2023-03-25T04:00:00.000000000',
       '2023-03-02T04:00:00.000000000', '2023-03-17T06:00:00.000000000',
       '2023-03-23T08:00:00.000000000', '2023-03-30T08:00:00.000000000',
       '2023-03-06T18:00:00.000000000', '2023-03-21T07:00:00.000000000',
       '2023-03-08T10:00:00.000000000', '2023-03-14T11:00:00.000000000',
       '2023-03-27T17:00:00.000000000', '2023-03-18T06:00:00.000000000',
       '2023-03-03T04:00:00.000000000', '2023-03-15T06:00:00.000000000',
       '2023-03-17T10:00:00.000000000', '2023-03-31T22:00:00.000000000',
       '2023-03-26T09:00:00.000000000', '2023-03-08T21:00:00.000000000',
       '2023-03-05T15:00:00.000000000', '2023-03-16T08:00:00.000000000',
       '2023-03-10T21:00:00.000000000', '2023-03-14T15:00:00.000000000',
       '2023-03-19T23:00:00.000000000', '2023-03-08T22:00:00.000000000',
       '2023-03-05T13:00:00.000000000', '2023-03-04T19:00:00.000000000',
       '2023-03-09T06:00:00.000000000', '2023-03-09T00:00:00.000000000',
       '2023-03-06T14:00:00.000000000', '2023-03-03T10:00:00.000000000',
       '2023-03-07T19:00:00.000000000', '2023-03-09T13:00:00.000000000',
       '2023-03-17T05:00:00.000000000', '2023-03-10T19:00:00.000000000',
       '2023-03-14T21:00:00.000000000', '2023-03-24T11:00:00.000000000',
       '2023-03-13T08:00:00.000000000', '2023-03-09T09:00:00.000000000',
       '2023-03-22T11:00:00.000000000', '2023-04-01T17:00:00.000000000',
       '2023-03-11T13:00:00.000000000', '2023-03-18T05:00:00.000000000',
       '2023-03-08T11:00:00.000000000', '2023-03-05T17:00:00.000000000',
       '2023-03-28T12:00:00.000000000', '2023-03-06T15:00:00.000000000',
       '2023-04-01T11:00:00.000000000', '2023-03-05T18:00:00.000000000',
       '2023-03-10T11:00:00.000000000', '2023-03-12T13:00:00.000000000',
       '2023-03-10T09:00:00.000000000', '2023-03-16T13:00:00.000000000',
       '2023-03-06T22:00:00.000000000', '2023-03-03T09:00:00.000000000',
       '2023-03-18T02:00:00.000000000', '2023-03-06T19:00:00.000000000',
       '2023-03-19T08:00:00.000000000', '2023-03-15T16:00:00.000000000',
       '2023-03-27T06:00:00.000000000', '2023-03-08T05:00:00.000000000',
       '2023-03-16T18:00:00.000000000', '2023-03-12T15:00:00.000000000',
       '2023-03-01T11:00:00.000000000', '2023-03-02T05:00:00.000000000',
       '2023-03-15T15:00:00.000000000', '2023-03-03T08:00:00.000000000',
       '2023-03-28T11:00:00.000000000', '2023-03-17T15:00:00.000000000',
       '2023-03-20T06:00:00.000000000', '2023-03-31T15:00:00.000000000',
       '2023-02-28T22:00:00.000000000', '2023-03-09T22:00:00.000000000',
       '2023-03-26T23:00:00.000000000', '2023-03-12T11:00:00.000000000',
       '2023-03-31T11:00:00.000000000', '2023-03-26T18:00:00.000000000',
       '2023-03-28T17:00:00.000000000', '2023-03-21T18:00:00.000000000',
       '2023-03-04T03:00:00.000000000', '2023-03-09T23:00:00.000000000',
       '2023-03-27T23:00:00.000000000', '2023-03-02T09:00:00.000000000',
       '2023-03-19T18:00:00.000000000', '2023-03-01T03:00:00.000000000',
       '2023-03-27T10:00:00.000000000', '2023-03-22T10:00:00.000000000',
       '2023-03-09T04:00:00.000000000', '2023-03-19T13:00:00.000000000',
       '2023-03-22T17:00:00.000000000', '2023-03-02T15:00:00.000000000',
       '2023-03-02T19:00:00.000000000', '2023-03-14T16:00:00.000000000',
       '2023-03-10T17:00:00.000000000', '2023-03-30T14:00:00.000000000',
       '2023-03-26T17:00:00.000000000', '2023-03-20T22:00:00.000000000',
       '2023-03-07T12:00:00.000000000', '2023-03-10T15:00:00.000000000',
       '2023-03-22T21:00:00.000000000', '2023-03-02T18:00:00.000000000',
       '2023-03-03T14:00:00.000000000', '2023-03-07T14:00:00.000000000',
       '2023-03-30T22:00:00.000000000', '2023-03-16T23:00:00.000000000',
       '2023-03-31T12:00:00.000000000', '2023-03-06T16:00:00.000000000',
       '2023-03-03T18:00:00.000000000', '2023-03-21T17:00:00.000000000',
       '2023-03-13T18:00:00.000000000', '2023-03-30T23:00:00.000000000',
       '2023-03-13T07:00:00.000000000', '2023-03-18T12:00:00.000000000',
       '2023-03-06T06:00:00.000000000', '2023-03-27T21:00:00.000000000',
       '2023-03-15T19:00:00.000000000', '2023-03-11T18:00:00.000000000',
       '2023-03-14T22:00:00.000000000', '2023-03-31T21:00:00.000000000',
       '2023-03-01T18:00:00.000000000', '2023-03-19T16:00:00.000000000',
       '2023-03-24T13:00:00.000000000', '2023-03-14T07:00:00.000000000',
       '2023-03-05T09:00:00.000000000', '2023-03-10T16:00:00.000000000',
       '2023-03-28T13:00:00.000000000', '2023-03-13T15:00:00.000000000',
       '2023-03-19T15:00:00.000000000', '2023-03-20T15:00:00.000000000',
       '2023-03-01T00:00:00.000000000', '2023-03-31T08:00:00.000000000',
       '2023-03-14T19:00:00.000000000', '2023-03-15T11:00:00.000000000',
       '2023-03-15T22:00:00.000000000', '2023-03-28T14:00:00.000000000',
       '2023-03-14T10:00:00.000000000', '2023-03-06T09:00:00.000000000',
       '2023-03-22T15:00:00.000000000', '2023-03-06T12:00:00.000000000',
       '2023-03-24T09:00:00.000000000', '2023-03-17T17:00:00.000000000',
       '2023-03-07T17:00:00.000000000', '2023-03-21T11:00:00.000000000',
       '2023-03-16T09:00:00.000000000', '2023-03-25T10:00:00.000000000',
       '2023-03-22T07:00:00.000000000', '2023-03-29T22:00:00.000000000',
       '2023-03-08T19:00:00.000000000', '2023-03-31T16:00:00.000000000',
       '2023-03-02T13:00:00.000000000', '2023-03-06T23:00:00.000000000',
       '2023-03-17T14:00:00.000000000', '2023-03-13T16:00:00.000000000',
       '2023-03-21T14:00:00.000000000', '2023-03-30T21:00:00.000000000',
       '2023-03-01T15:00:00.000000000', '2023-03-20T09:00:00.000000000',
       '2023-03-23T06:00:00.000000000', '2023-03-22T09:00:00.000000000',
       '2023-03-19T17:00:00.000000000', '2023-03-17T04:00:00.000000000',
       '2023-03-12T16:00:00.000000000', '2023-03-21T23:00:00.000000000',
       '2023-03-18T11:00:00.000000000', '2023-03-09T18:00:00.000000000',
       '2023-03-05T05:00:00.000000000', '2023-03-01T08:00:00.000000000',
       '2023-03-18T23:00:00.000000000', '2023-03-01T06:00:00.000000000',
       '2023-03-16T11:00:00.000000000', '2023-03-13T09:00:00.000000000',
       '2023-03-14T03:00:00.000000000', '2023-03-08T16:00:00.000000000',
       '2023-03-07T15:00:00.000000000', '2023-03-19T12:00:00.000000000',
       '2023-03-04T06:00:00.000000000', '2023-03-11T06:00:00.000000000',
       '2023-03-30T12:00:00.000000000', '2023-03-31T18:00:00.000000000',
       '2023-03-03T12:00:00.000000000', '2023-03-20T14:00:00.000000000',
       '2023-03-07T22:00:00.000000000', '2023-03-26T06:00:00.000000000',
       '2023-03-10T22:00:00.000000000', '2023-03-08T12:00:00.000000000',
       '2023-03-23T05:00:00.000000000', '2023-03-22T08:00:00.000000000',
       '2023-03-05T16:00:00.000000000', '2023-03-17T07:00:00.000000000',
       '2023-03-28T18:00:00.000000000', '2023-03-28T08:00:00.000000000',
       '2023-03-31T06:00:00.000000000', '2023-03-03T13:00:00.000000000',
       '2023-03-13T19:00:00.000000000', '2023-03-24T16:00:00.000000000',
       '2023-03-11T14:00:00.000000000', '2023-03-31T13:00:00.000000000',
       '2023-03-24T08:00:00.000000000', '2023-03-14T17:00:00.000000000',
       '2023-04-01T09:00:00.000000000', '2023-03-16T12:00:00.000000000',
       '2023-03-07T16:00:00.000000000', '2023-03-05T23:00:00.000000000',
       '2023-03-22T22:00:00.000000000', '2023-03-09T12:00:00.000000000',
       '2023-03-12T20:00:00.000000000', '2023-03-15T05:00:00.000000000',
       '2023-04-01T19:00:00.000000000', '2023-03-15T17:00:00.000000000',
       '2023-03-14T09:00:00.000000000', '2023-04-01T12:00:00.000000000',
       '2023-03-06T10:00:00.000000000', '2023-03-29T12:00:00.000000000',
       '2023-03-12T22:00:00.000000000', '2023-03-25T08:00:00.000000000',
       '2023-03-17T13:00:00.000000000', '2023-03-06T05:00:00.000000000',
       '2023-04-01T15:00:00.000000000', '2023-03-25T12:00:00.000000000',
       '2023-03-27T16:00:00.000000000', '2023-03-02T11:00:00.000000000',
       '2023-03-05T21:00:00.000000000', '2023-03-27T22:00:00.000000000',
       '2023-03-29T16:00:00.000000000', '2023-03-11T16:00:00.000000000',
       '2023-03-09T21:00:00.000000000', '2023-03-26T15:00:00.000000000',
       '2023-03-04T08:00:00.000000000', '2023-03-02T17:00:00.000000000',
       '2023-03-25T05:00:00.000000000', '2023-03-10T20:00:00.000000000',
       '2023-03-09T08:00:00.000000000', '2023-03-31T23:00:00.000000000',
       '2023-03-28T16:00:00.000000000', '2023-03-14T14:00:00.000000000',
       '2023-03-13T21:00:00.000000000', '2023-03-16T19:00:00.000000000',
       '2023-03-04T18:00:00.000000000', '2023-03-01T23:00:00.000000000',
       '2023-03-28T19:00:00.000000000', '2023-03-01T10:00:00.000000000',
       '2023-03-05T02:00:00.000000000', '2023-03-03T17:00:00.000000000',
       '2023-03-26T07:00:00.000000000', '2023-03-08T13:00:00.000000000',
       '2023-03-10T12:00:00.000000000', '2023-03-09T15:00:00.000000000',
       '2023-03-01T22:00:00.000000000', '2023-03-29T19:00:00.000000000',
       '2023-03-10T14:00:00.000000000', '2023-03-21T21:00:00.000000000',
       '2023-03-01T12:00:00.000000000', '2023-03-14T05:00:00.000000000',
       '2023-03-20T10:00:00.000000000', '2023-03-16T10:00:00.000000000',
       '2023-03-18T16:00:00.000000000', '2023-03-05T07:00:00.000000000',
       '2023-03-24T21:00:00.000000000', '2023-03-30T16:00:00.000000000',
       '2023-03-21T16:00:00.000000000', '2023-04-01T13:00:00.000000000',
       '2023-03-15T13:00:00.000000000', '2023-03-14T23:00:00.000000000',
       '2023-03-23T10:00:00.000000000', '2023-03-22T06:00:00.000000000',
       '2023-03-25T17:00:00.000000000', '2023-03-07T04:00:00.000000000',
       '2023-03-16T05:00:00.000000000', '2023-03-31T09:00:00.000000000',
       '2023-03-20T17:00:00.000000000', '2023-03-12T07:00:00.000000000',
       '2023-03-18T21:00:00.000000000', '2023-03-18T09:00:00.000000000',
       '2023-03-09T19:00:00.000000000', '2023-03-17T19:00:00.000000000',
       '2023-03-31T05:00:00.000000000', '2023-03-19T21:00:00.000000000',
       '2023-03-21T22:00:00.000000000', '2023-03-01T19:00:00.000000000',
       '2023-03-25T11:00:00.000000000', '2023-03-02T22:00:00.000000000',
       '2023-03-11T07:00:00.000000000', '2023-03-28T09:00:00.000000000',
       '2023-03-16T06:00:00.000000000', '2023-03-24T18:00:00.000000000',
       '2023-03-28T06:00:00.000000000', '2023-03-13T03:00:00.000000000',
       '2023-02-28T23:00:00.000000000', '2023-03-17T12:00:00.000000000',
       '2023-04-01T06:00:00.000000000', '2023-03-26T19:00:00.000000000',
       '2023-03-24T23:00:00.000000000', '2023-03-24T12:00:00.000000000',
       '2023-03-04T07:00:00.000000000', '2023-03-15T08:00:00.000000000',
       '2023-03-06T08:00:00.000000000', '2023-03-19T19:00:00.000000000',
       '2023-03-27T13:00:00.000000000', '2023-03-29T14:00:00.000000000',
       '2023-03-09T07:00:00.000000000', '2023-02-28T21:00:00.000000000',
       '2023-03-29T10:00:00.000000000', '2023-03-20T19:00:00.000000000',
       '2023-03-24T14:00:00.000000000', '2023-03-04T13:00:00.000000000',
       '2023-03-31T10:00:00.000000000', '2023-03-26T04:00:00.000000000',
       '2023-03-11T11:00:00.000000000', '2023-03-27T11:00:00.000000000',
       '2023-03-21T06:00:00.000000000', '2023-04-01T03:00:00.000000000',
       '2023-03-20T16:00:00.000000000', '2023-03-03T19:00:00.000000000',
       '2023-03-28T21:00:00.000000000', '2023-03-17T21:00:00.000000000',
       '2023-03-01T13:00:00.000000000', '2023-03-04T11:00:00.000000000',
       '2023-03-21T08:00:00.000000000', '2023-03-07T05:00:00.000000000',
       '2023-03-09T03:00:00.000000000', '2023-03-18T17:00:00.000000000',
       '2023-03-19T22:00:00.000000000', '2023-03-16T14:00:00.000000000',
       '2023-03-02T07:00:00.000000000', '2023-03-08T06:00:00.000000000',
       '2023-03-01T16:00:00.000000000', '2023-03-11T10:00:00.000000000',
       '2023-03-24T07:00:00.000000000', '2023-03-15T10:00:00.000000000',
       '2023-03-19T06:00:00.000000000', '2023-03-10T18:00:00.000000000',
       '2023-03-30T07:00:00.000000000', '2023-03-20T13:00:00.000000000',
       '2023-03-12T19:00:00.000000000', '2023-03-31T14:00:00.000000000',
       '2023-03-13T12:00:00.000000000', '2023-03-24T15:00:00.000000000',
       '2023-03-29T09:00:00.000000000', '2023-03-19T20:00:00.000000000',
       '2023-03-12T06:00:00.000000000', '2023-03-30T05:00:00.000000000',
       '2023-03-13T11:00:00.000000000', '2023-03-13T06:00:00.000000000',
       '2023-03-07T13:00:00.000000000', '2023-03-30T10:00:00.000000000',
       '2023-03-17T18:00:00.000000000', '2023-03-27T18:00:00.000000000',
       '2023-03-14T12:00:00.000000000', '2023-03-17T22:00:00.000000000',
       '2023-03-23T04:00:00.000000000', '2023-03-11T04:00:00.000000000',
       '2023-03-06T17:00:00.000000000', '2023-03-25T07:00:00.000000000',
       '2023-03-08T07:00:00.000000000', '2023-03-26T12:00:00.000000000',
       '2023-03-29T11:00:00.000000000', '2023-03-12T09:00:00.000000000',
       '2023-03-07T21:00:00.000000000', '2023-03-22T13:00:00.000000000',
       '2023-03-08T09:00:00.000000000', '2023-03-30T09:00:00.000000000',
       '2023-03-28T05:00:00.000000000', '2023-03-30T13:00:00.000000000',
       '2023-03-03T15:00:00.000000000', '2023-03-31T07:00:00.000000000',
       '2023-03-07T18:00:00.000000000', '2023-03-04T10:00:00.000000000',
       '2023-03-27T02:00:00.000000000', '2023-03-05T03:00:00.000000000',
       '2023-03-08T08:00:00.000000000', '2023-03-25T00:00:00.000000000',
       '2023-03-25T15:00:00.000000000', '2023-03-05T11:00:00.000000000',
       '2023-03-05T10:00:00.000000000', '2023-03-14T04:00:00.000000000',
       '2023-03-29T08:00:00.000000000', '2023-03-28T07:00:00.000000000',
       '2023-03-02T12:00:00.000000000', '2023-03-20T05:00:00.000000000',
       '2023-03-31T02:00:00.000000000', '2023-03-09T05:00:00.000000000',
       '2023-03-26T05:00:00.000000000', '2023-03-18T07:00:00.000000000',
       '2023-03-14T08:00:00.000000000', '2023-03-09T10:00:00.000000000',
       '2023-03-12T10:00:00.000000000', '2023-03-20T07:00:00.000000000',
       '2023-03-15T09:00:00.000000000', '2023-03-23T07:00:00.000000000',
       '2023-03-04T09:00:00.000000000', '2023-03-05T06:00:00.000000000',
       '2023-03-03T07:00:00.000000000', '2023-03-14T13:00:00.000000000',
       '2023-03-21T05:00:00.000000000', '2023-03-04T12:00:00.000000000',
       '2023-03-11T21:00:00.000000000', '2023-03-12T23:00:00.000000000',
       '2023-03-24T22:00:00.000000000', '2023-03-27T04:00:00.000000000',
       '2023-03-11T19:00:00.000000000', '2023-03-03T21:00:00.000000000',
       '2023-03-30T11:00:00.000000000', '2023-03-17T23:00:00.000000000',
       '2023-04-01T07:00:00.000000000', '2023-03-03T23:00:00.000000000',
       '2023-03-19T11:00:00.000000000', '2023-03-15T21:00:00.000000000',
       '2023-03-11T23:00:00.000000000', '2023-04-01T14:00:00.000000000',
       '2023-04-01T16:00:00.000000000', '2023-03-06T02:00:00.000000000',
       '2023-03-11T09:00:00.000000000', '2023-03-17T08:00:00.000000000',
       '2023-03-11T00:00:00.000000000', '2023-03-08T14:00:00.000000000',
       '2023-03-12T03:00:00.000000000', '2023-03-11T12:00:00.000000000',
       '2023-03-26T21:00:00.000000000', '2023-03-13T13:00:00.000000000',
       '2023-04-01T20:00:00.000000000', '2023-03-22T19:00:00.000000000',
       '2023-03-27T05:00:00.000000000', '2023-04-01T00:00:00.000000000',
       '2023-03-14T20:00:00.000000000', '2023-03-27T07:00:00.000000000',
       '2023-03-15T04:00:00.000000000', '2023-03-15T03:00:00.000000000',
       '2023-03-14T18:00:00.000000000', '2023-03-30T19:00:00.000000000',
       '2023-03-04T00:00:00.000000000', '2023-03-13T14:00:00.000000000',
       '2023-03-03T16:00:00.000000000', '2023-03-16T22:00:00.000000000',
       '2023-03-08T17:00:00.000000000', '2023-03-03T22:00:00.000000000',

In [32]:
def convertHour(hora_ref):
    # Formate a hora_ref para corresponder ao formato no nome do arquivo
    hora_formatada_str = hora_ref.strftime('%Y%m%d%H%M')
    hora_formatada = datetime.strptime(hora_formatada_str, '%Y%m%d%H%M')
    return hora_formatada


def findImageByHour(imagesDir, refHour):
    # Converter a hora_ref para o formato desejado
    formatedDate = refHour.strftime('%Y%m%d')
    convertedHour = convertHour(refHour)
    
    # Construir o nome do arquivo com base na data_formatada
    fileName = f'S11635384_{convertedHour}.jpg'
    
    # Construir o caminho completo do arquivo
    filePath = os.path.join(imagesDir, fileName)
    
    # Verificar se o arquivo existe
    if os.path.isfile(filePath):
        return filePath
    else:
        return None  # Arquivo não encontrado

imagesDir = '../images/'
formated_df['path'] = formated_df['hora_ref'].apply(lambda x: findImageByHour(imagesDir, x))
formated_df.head()

,flightid,origem,destino,dt_dep,hora_ref,snapshot_radar,esperas,aero,hora_formatted,path
0,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBBR,"Saturday, March 18, 2023 08:00:00",None
1,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBCF,"Saturday, March 18, 2023 08:00:00",None
2,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBCT,"Saturday, March 18, 2023 08:00:00",None
3,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBFL,"Saturday, March 18, 2023 08:00:00",None
4,00010ed6d09c78b5a37f4df13f524f56,SBSV,SBSP,1679137732000,2023-03-18 08:00:00,"[(-0.2288001081, -0.668855167), (-0.2414646116...",0,SBGL,"Saturday, March 18, 2023 08:00:00",None

In [33]:
formated_df.path.unique()

array([None], dtype=object)

In [34]:
formated_df.to_csv('formated_df.csv', index=False)