In [1]:
from util.utils import *

In [2]:
def metaf_dataPipeline():
    df = openDataframe("metaf_silver.csv")
    df = removeDuplicatesRows(df)
    
    saveDataframe(df, "metaf_silver.csv")
    return df

df = metaf_dataPipeline()
df.head()

,hora,metar,aero,hora_formated
0,1654041600000,METAR SBBR 010000Z 07002KT CAVOK 21/08 Q1018=,SBBR,"Tuesday, May 31, 2022 09:00:00"
1,1654045200000,METAR SBBR 010100Z 10002KT CAVOK 20/09 Q1019=,SBBR,"Tuesday, May 31, 2022 10:00:00"
2,1654048800000,METAR SBBR 010200Z 00000KT CAVOK 16/09 Q1019=,SBBR,"Tuesday, May 31, 2022 11:00:00"
3,1654052400000,METAR SBBR 010300Z 27002KT CAVOK 16/09 Q1019=,SBBR,"Wednesday, June 01, 2022 12:00:00"
4,1654056000000,METAR SBBR 010400Z 00000KT CAVOK 14/09 Q1018=,SBBR,"Wednesday, June 01, 2022 01:00:00"