In [1]:
from util.utils import *

In [3]:
def metar_dataPipeline():
    df = openDataframe("metar_silver.csv")
    df = removeDuplicatesRows(df)
    
    saveDataframe(df, "metar_silver.csv")
    return df

df = metar_dataPipeline()
df.head()

,hora,metaf,aero,hora_formated
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,"Tuesday, May 31, 2022 09:00:00"
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,"Tuesday, May 31, 2022 10:00:00"
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,"Tuesday, May 31, 2022 11:00:00"
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,"Wednesday, June 01, 2022 12:00:00"
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,"Wednesday, June 01, 2022 01:00:00"