In [219]:
import pandas as pd
import numpy as np

# Set the display format for floating-point numbers to suppress scientific notation
pd.options.display.float_format = '{:.0f}'.format

In [179]:
df_train = pd.read_csv('../data/processed_data/merged_plate.csv')

df_train.shape

(832, 50)

In [192]:
df_train['dt_dep'], df_train['dt_arr']

(0      1680295888000
 1      1680126618000
 2      1679907100000
 3      1680283516000
 4      1680283516000
            ...
 827    1680307617000
 828    1678366527000
 829    1678366527000
 830    1678366527000
 831    1680004257000
 Name: dt_dep, Length: 832, dtype: int64,
 0      1680300446000
 1      1680130843000
 2      1679914554000
 3      1680289041000
 4      1680289041000
            ...
 827    1680310619000
 828    1678370919000
 829    1678370919000
 830    1678370919000
 831    1680008669000
 Name: dt_arr, Length: 832, dtype: int64)

In [180]:
## create a function that counts the rows that has at least one null or nan value sorting by the number of null values
## give me the name of the columns and its number of null values
def count_null(df):
    null_count = df.isnull().sum().sort_values(ascending=False)
    null_count = null_count[null_count > 0]
    return null_count

count_null(df_train)

metar_windDirection    832
metar_weather          714
metaf_weather          652
metaf_skyFeet          384
metaf_sky              384
metar_skyFeet          164
metar_sky              163
metar_windVelocity      58
metar_visibility        58
metar_pressure          58
metar_type              52
metar_hora_formated     52
metar_station.1         52
metar_dew_point         52
metar_station           52
metaf_type              41
metaf_hora_formated     41
metaf_station.1         41
metaf_dew_point         41
metaf_windDirection     41
metaf_windVelocity      41
metaf_visibility        41
metaf_pressure          41
metaf_station           41
dtype: int64

In [181]:
# Especifica o delimitador como ponto e vírgula
delimiter = ';'

# Lê o arquivo CSV, informando o delimitador e o header está na primeira linha
df_test = pd.read_csv('../data/processed_data/idsc_dataset_plate.csv')


df_test.shape

(40039, 46)

In [182]:
count_null(df_test)

metar_windDirection    40039
metar_weather          35860
metaf_weather          34529
hora_tcr               30620
aero_tcr               30620
metaf_skyFeet          27489
metaf_sky              27489
metar_skyFeet          18839
metar_sky              17866
metaf_windVelocity      6291
metaf_visibility        6291
metaf_pressure          6291
metaf_windDirection     6251
metaf_station.1         6251
metaf_hora_formated     6251
metaf_type              6251
metaf_station           6251
metaf_dew_point         6251
aero_metaf              5334
metaf                   5334
hora_metaf              5334
metar_pressure          2726
metar_visibility        2726
metar_windVelocity      2726
snapshot_radar          2574
metar_station.1         2285
metar_dew_point         2285
metar_type              2284
metar_hora_formated     2284
metar_station           2284
path                    1169
troca                    981
hora_tcp                 981
aero_metar               926
metar                    926
hora_metar               926
dtype: int64

In [183]:
df_train.columns, df_test.columns

(Index(['Unnamed: 0.1', 'Unnamed: 0', 'flightid', 'origem', 'destino', 'dt_dep',
        'dt_arr', 'dt_dep_formatted', 'dt_arr_formatted', 'hora_real',
        'nova_cabeceira', 'antiga_cabeceira', 'aero_real',
        'hora_formatted_real', 'hora_prev', 'troca', 'aero_prev',
        'hora_formatted_prev', 'hora_metar', 'metar', 'aero_metar',
        'hora_formatted_metar', 'hora_metaf', 'metaf', 'aero_metaf',
        'hora_formatted_metaf', 'metar_station', 'metar_type',
        'metar_hora_formated', 'metar_station.1', 'metar_dew_point',
        'metar_windDirection', 'metar_windVelocity', 'metar_visibility',
        'metar_pressure', 'metar_weather', 'metar_sky', 'metar_skyFeet',
        'metaf_station', 'metaf_type', 'metaf_hora_formated', 'metaf_station.1',
        'metaf_dew_point', 'metaf_windDirection', 'metaf_windVelocity',
        'metaf_visibility', 'metaf_pressure', 'metaf_weather', 'metaf_sky',
        'metaf_skyFeet'],
       dtype='object'),
 Index(['Unnamed: 0', 'flightid', 'origem', 'destino', 'hora_ref', 'dt_dep',
        'snapshot_radar', 'path', 'hora_esperas', 'esperas', 'aero_esperas',
        'hora_metaf', 'metaf', 'aero_metaf', 'hora_metar', 'metar',
        'aero_metar', 'hora_tcp', 'troca', 'aero_tcp', 'hora_tcr', 'aero_tcr',
        'metar_station', 'metar_type', 'metar_hora_formated', 'metar_station.1',
        'metar_dew_point', 'metar_windDirection', 'metar_windVelocity',
        'metar_visibility', 'metar_pressure', 'metar_weather', 'metar_sky',
        'metar_skyFeet', 'metaf_station', 'metaf_type', 'metaf_hora_formated',
        'metaf_station.1', 'metaf_dew_point', 'metaf_windDirection',
        'metaf_windVelocity', 'metaf_visibility', 'metaf_pressure',
        'metaf_weather', 'metaf_sky', 'metaf_skyFeet'],
       dtype='object'))

In [184]:
def replace_null_values(df):
    # Replace all null or NaN values with 0
    df_filled = df.fillna(-1)
    return df_filled

df_train = replace_null_values(df_train)
df_test = replace_null_values(df_test)

In [185]:
df_test.shape, df_train.shape

((40039, 46), (832, 50))

In [186]:
X_train.columns, df_test.columns

(Index(['origem', 'destino', 'dt_dep', 'aero_metaf', 'aero_metar',
        'metar_station', 'metar_type', 'metar_station.1', 'metar_dew_point',
        'metar_windDirection', 'metar_windVelocity', 'metar_visibility',
        'metar_pressure', 'metar_weather', 'metar_sky', 'metar_skyFeet',
        'metaf_station', 'metaf_type', 'metaf_station.1', 'metaf_dew_point',
        'metaf_windDirection', 'metaf_windVelocity', 'metaf_visibility',
        'metaf_pressure', 'metaf_weather', 'metaf_sky', 'metaf_skyFeet'],
       dtype='object'),
 Index(['Unnamed: 0', 'flightid', 'origem', 'destino', 'hora_ref', 'dt_dep',
        'snapshot_radar', 'path', 'hora_esperas', 'esperas', 'aero_esperas',
        'hora_metaf', 'metaf', 'aero_metaf', 'hora_metar', 'metar',
        'aero_metar', 'hora_tcp', 'troca', 'aero_tcp', 'hora_tcr', 'aero_tcr',
        'metar_station', 'metar_type', 'metar_hora_formated', 'metar_station.1',
        'metar_dew_point', 'metar_windDirection', 'metar_windVelocity',
        'metar_visibility', 'metar_pressure', 'metar_weather', 'metar_sky',
        'metar_skyFeet', 'metaf_station', 'metaf_type', 'metaf_hora_formated',
        'metaf_station.1', 'metaf_dew_point', 'metaf_windDirection',
        'metaf_windVelocity', 'metaf_visibility', 'metaf_pressure',
        'metaf_weather', 'metaf_sky', 'metaf_skyFeet'],
       dtype='object'))

In [187]:
X_train = df_train.drop([
    'dt_arr', 'dt_arr_formatted', 'Unnamed: 0.1', 'dt_dep_formatted', 'hora_real',
    'hora_formatted_real', 'hora_formatted_prev', 'hora_formatted_metar', 'hora_formatted_metaf',
    'metar_hora_formated', 'flightid', 'Unnamed: 0', 'hora_prev', 'metaf_hora_formated', 'hora_metar', 
    'hora_metaf', 'metaf', 'nova_cabeceira', 'antiga_cabeceira', 'metar', 'aero_prev', 'troca', 'aero_real',
    'dt_dep'

], axis = 1)

X_test = df_test.drop([
    'Unnamed: 0', 'flightid', 'snapshot_radar', 'path', 'hora_ref', 'hora_tcp', 'metaf_hora_formated',
    'hora_metaf', 'hora_esperas', 'hora_metar', 'metaf', 'hora_tcr', 'metar', 'esperas', 'aero_esperas',
    'aero_tcp', 'aero_tcr', 'troca', 'metar_hora_formated', 'dt_dep'
], axis = 1)

y_train = df_train['dt_arr']

X_train.shape, y_train.shape, X_test.shape

((832, 26), (832,), (40039, 26))

In [188]:
X_train.columns, X_test.columns

(Index(['origem', 'destino', 'aero_metar', 'aero_metaf', 'metar_station',
        'metar_type', 'metar_station.1', 'metar_dew_point',
        'metar_windDirection', 'metar_windVelocity', 'metar_visibility',
        'metar_pressure', 'metar_weather', 'metar_sky', 'metar_skyFeet',
        'metaf_station', 'metaf_type', 'metaf_station.1', 'metaf_dew_point',
        'metaf_windDirection', 'metaf_windVelocity', 'metaf_visibility',
        'metaf_pressure', 'metaf_weather', 'metaf_sky', 'metaf_skyFeet'],
       dtype='object'),
 Index(['origem', 'destino', 'aero_metaf', 'aero_metar', 'metar_station',
        'metar_type', 'metar_station.1', 'metar_dew_point',
        'metar_windDirection', 'metar_windVelocity', 'metar_visibility',
        'metar_pressure', 'metar_weather', 'metar_sky', 'metar_skyFeet',
        'metaf_station', 'metaf_type', 'metaf_station.1', 'metaf_dew_point',
        'metaf_windDirection', 'metaf_windVelocity', 'metaf_visibility',
        'metaf_pressure', 'metaf_weather', 'metaf_sky', 'metaf_skyFeet'],
       dtype='object'))

In [189]:
def change_column_order(df, coluna1, coluna2):
    colunas = df.columns.tolist()
    
    if coluna1 not in colunas or coluna2 not in colunas:
        print("Uma ou ambas as colunas não estão presentes no DataFrame.")
        return df
    
    indice_coluna1 = colunas.index(coluna1)
    indice_coluna2 = colunas.index(coluna2)
    
    colunas[indice_coluna1], colunas[indice_coluna2] = colunas[indice_coluna2], colunas[indice_coluna1]
    
    return df[colunas]

X_train = change_column_order(X_train, 'aero_metaf', 'aero_metar')
X_train.columns

Index(['origem', 'destino', 'aero_metaf', 'aero_metar', 'metar_station',
       'metar_type', 'metar_station.1', 'metar_dew_point',
       'metar_windDirection', 'metar_windVelocity', 'metar_visibility',
       'metar_pressure', 'metar_weather', 'metar_sky', 'metar_skyFeet',
       'metaf_station', 'metaf_type', 'metaf_station.1', 'metaf_dew_point',
       'metaf_windDirection', 'metaf_windVelocity', 'metaf_visibility',
       'metaf_pressure', 'metaf_weather', 'metaf_sky', 'metaf_skyFeet'],
      dtype='object')

In [218]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression  # Replace with your regression model of choice
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

def get_numerical_variables(df):
    """
    Get a list of numerical variable names from a DataFrame.

    Args:
        df (pd.DataFrame): Input DataFrame.

    Returns:
        numerical_vars (list): List of numerical variable names.
    """
    numerical_vars = df.select_dtypes(include=['number', 'int64', 'float64']).columns.tolist()
    return numerical_vars

def get_categorical_variables(df):
    """
    Get a list of categorical variable names from a DataFrame.

    Args:
        df (pd.DataFrame): Input DataFrame.

    Returns:
        categorical_vars (list): List of categorical variable names.
    """
    categorical_vars = df.select_dtypes(include=['object', 'category']).columns.tolist()
    return categorical_vars


def preprocess_data(X_train, X_test, y_train, categorical_vars=None, numerical_vars=None):
    """
    Preprocess the data for modeling.

    Args:
        X_train (pd.DataFrame): Training data features.
        X_test (pd.DataFrame): Test data features.
        y_train (pd.Series): Target variable for training.
        categorical_vars (list): List of categorical variables (default is None).
        numerical_vars (list): List of numerical variables (default is None).

    Returns:
        X_train (pd.DataFrame): Preprocessed training data features.
        X_test (pd.DataFrame): Preprocessed test data features.
        y_train (pd.Series): Target variable for training.
        preprocessor (ColumnTransformer): Data preprocessor.
    """
    # Ensure categorical and numerical variables are defined
    if categorical_vars is None:
        categorical_vars = []
    if numerical_vars is None:
        numerical_vars = []

    # Convert categorical variables to strings
    X_train[categorical_vars] = X_train[categorical_vars].astype(str)
    X_test[categorical_vars] = X_test[categorical_vars].astype(str)

    # Create data preprocessor
    preprocessor = encode_data(categorical_vars, numerical_vars)

    # Fit and transform the training data
    X_train = preprocessor.fit_transform(X_train)

    # Transform the test data
    X_test = preprocessor.transform(X_test)

    return X_train, X_test, y_train, preprocessor

def encode_data(categorical_vars, numerical_vars):
    """
    Encode categorical variables and scale numerical variables.

    Args:
        categorical_vars (list): List of categorical variables.
        numerical_vars (list): List of numerical variables.

    Returns:
        preprocessor (ColumnTransformer): Data preprocessor.
    """
    # Create transformers for categorical and numerical variables
    categorical_transformer = Pipeline(steps=[
        ('encoder', OneHotEncoder(handle_unknown='ignore'))
    ])

    numerical_transformer = Pipeline(steps=[
        ('scaler', StandardScaler())
    ])

    # Create a column transformer
    preprocessor = ColumnTransformer(
        transformers=[
            ('cat', categorical_transformer, categorical_vars),
            ('num', numerical_transformer, numerical_vars)
        ])

    return preprocessor

def select_best_model(X_train, y_train, param_grid, num_folds=5):
    """
    Select the best model using GridSearchCV.

    Args:
        X_train (pd.DataFrame): Preprocessed training data features.
        y_train (pd.Series): Target variable for training.
        param_grid (dict): Hyperparameter grid for model selection.
        num_folds (int): Number of cross-validation folds (default is 5).

    Returns:
        best_estimator (Pipeline): Best model selected by GridSearchCV.
    """
    # Create the model pipeline
    reg_model = Pipeline([
        ('model', XGBRegressor())
    ])

    # Create GridSearchCV with the model and hyperparameters
    grid_search = GridSearchCV(estimator=reg_model, param_grid=param_grid, cv=num_folds, n_jobs=-1, verbose=2)

    # Fit the model to the training data
    grid_search.fit(X_train, y_train)

    # Get the best estimator from the grid search
    best_estimator = grid_search.best_estimator_

    return best_estimator

def make_predictions(best_estimator, X_test):
    """
    Make predictions using the best model.

    Args:
        best_estimator (Pipeline): Best model selected by GridSearchCV.
        X_test (pd.DataFrame): Preprocessed test data features.

    Returns:
        y_pred (np.array): Predicted target variable.
    """
    # Make predictions on the test set using the best estimator
    y_pred = best_estimator.predict(X_test)

    return y_pred

# Example usage:
np.random.seed(42)

numerical_variables = get_numerical_variables(X_train)
categorical_variables = get_categorical_variables(X_train)

X_train, X_test, y_train, preprocessor = preprocess_data(X_train, X_test, y_train, categorical_vars=categorical_variables, numerical_vars=numerical_variables)

param_grid = {
    'model__n_estimators': [100, 500, 1000],
    'model__max_depth': [3, 4, 5, 6],
    'model__learning_rate': [0.01, 0.1, 0.2],
    'model__min_child_weight': [1, 2, 3],
    'model__subsample': [0.8, 0.9, 1.0],
    'model__colsample_bytree': [0.8, 0.9, 1.0],
}

best_estimator = select_best_model(X_train, y_train, param_grid, num_folds=5)

y_pred = make_predictions(best_estimator, X_test)
print(y_pred, y_pred.shape)

Fitting 5 folds for each of 972 candidates, totalling 4860 fits
[1.6790706e+12 1.6801369e+12 1.6797494e+12 ... 1.6798494e+12 1.6790366e+12
 1.6801902e+12] (40039,)

In [229]:
def convert_timestamps_to_datetime(timestamps, unit='ms'):
    """
    Converts a series of timestamps to datetime objects.

    Args:
        timestamps (pd.Series): Series of timestamps.
        unit (str): Unit of the timestamps (default is 'ms' for milliseconds).

    Returns:
        pd.Series: Series of datetime objects.
    """
    timestamps = pd.to_datetime(timestamps, unit=unit)
    return timestamps

def calculate_time_difference_in_seconds(datetime_series1, datetime_series2):
    """
    Calculates the time difference in seconds between two series of datetime objects.

    Args:
        datetime_series1 (pd.Series): First series of datetime objects.
        datetime_series2 (pd.Series): Second series of datetime objects.

    Returns:
        pd.Series: Series of time differences in seconds.
    """
    time_difference = (datetime_series1 - datetime_series2).dt.total_seconds()
    return time_difference

def process_data(df_test, y_pred):
    """
    Process the data and return a DataFrame with flight IDs and predicted time differences.

    Args:
        df_test (pd.DataFrame): DataFrame containing flight data.
        y_pred (pd.Series): Series containing predicted timestamps.

    Returns:
        pd.DataFrame: DataFrame with flight IDs and predicted time differences as int64.
    """
    # Convert 'y_pred' to datetime objects
    y_pred_datetime = convert_timestamps_to_datetime(y_pred)

    # Convert 'dt_dep' to datetime objects
    df_test['dt_dep'] = pd.to_datetime(df_test['dt_dep'], format='%H:%M:%S')

    # Calculate time difference in seconds
    delta_seconds = calculate_time_difference_in_seconds(y_pred_datetime, df_test['dt_dep'])

    # Round the delta_seconds to the nearest integer and cast to int64
    delta_seconds = delta_seconds.round().astype('int64')

    # Create a DataFrame with 'flightid' and 'predicted time of arrival' (as int64)
    result_df = pd.DataFrame({
        'ID': df_test['flightid'],
        'solution': delta_seconds
    })

    return result_df

# Example usage:
result_df = process_data(df_test, y_pred)
result_df.to_csv('predicted_arrival_times.csv', index=False)
result_df.head()

                                 ID    solution
0  4f0356600f61e3fcbea8ed8a137a2423  3888016583
1  865dbbbe74bebea18a71f24342516ff0  3889125387
2  1803af9cfc6a2c74d188481e3ffd848e  3888732620
3  f6af733a687f904183efd149ec713be5  3888295162
4  6117f9ac60b7f66b740c9130be433313  3888697635

In [231]:
result_df['solution'].value_counts()

3888912693    3
3888649720    3
3888768022    3
3888830179    3
3888418560    3
             ..
3889175558    1
3888881450    1
3887409293    1
3888370559    1
3889175463    1
Name: solution, Length: 39510, dtype: int64