In [2]:
from util.utils import *

In [4]:
def tc_prev_dataPipeline():
    df = openDataframe("tc-prev_silver.csv")
    df = removeDuplicatesRows(df)
    
    saveDataframe(df, "tc-prev_silver.csv")
    return df

df = tc_prev_dataPipeline()
df.head()

            hora  troca aero                      hora_formated
0  1654041600000      0   BR     Tuesday, May 31, 2022 09:00:00
1  1654045200000      0   BR     Tuesday, May 31, 2022 10:00:00
2  1654048800000      0   BR     Tuesday, May 31, 2022 11:00:00
3  1654052400000      0   BR  Wednesday, June 01, 2022 12:00:00
4  1654056000000      0   BR  Wednesday, June 01, 2022 01:00:00